@mixin btn--negative {

  &.btn--link {
    color: $color-white;
  }

  &:not(.btn--link) {
    background-color: $color-white;
    border-color: $color-yellow;

    html.hasHover &:hover {
      color: $color-yellow;
      border-color: $color-white;

      &::before {
        background-color: $color-white;
      }
    }
  }

  &.btn--cta {
    background-color: $color-yellow;

    html.hasHover &:hover {
      color: $color-yellow;

      &::before {
        background-color: $color-white !important;
        transition:
          background .125s ease-in-out,
          transform .375s ease-in-out .125s;
      }
    }
  }
}

.btn {
  position: relative;
  display: inline-block;
  color: $color-blue;
  font-weight: 500;
  font-size: 17px;
  line-height: 1;
  cursor: pointer;
  white-space: nowrap;
  flex-shrink: 0;
  
  &:not(.btn--link) {
    padding: 24px 54px 24px 32px;
    border-radius: 28px;
    border: 1px solid transparent;
    overflow: hidden;
    transition:
      color .5s ease,
      border-color .5s ease;

    span {
      position: relative;
      z-index: 2;
    }
  
    &::before {
      content: '';
      position: absolute;
      z-index: 1;
      top: 28px; right: 32px;
      width: 8px; height: 8px;
      background: $color-blue;
      border-radius: 4px;
      transition:
        all .5s ease,
        background .125s ease .375s;
    }
  
    &::after {
      content: '';
      position: absolute;
      z-index: 3;
      transform: scale(0);
      opacity: 0;
      top: 28px; right: 32px;
      width: 8px; height: 8px;
      background: $color-yellow;
      border-radius: 4px;
      transition:
        all .25s ease,
        background 0s ease;
    }
  
    html.hasHover &:hover {
      color: $color-yellow;
  
      &::after{
        transform: none;
        opacity: 1;
      }
  
      &::before {
        transform: translateX(-800%) scale(50);
      }
    }    
  }

  &.btn--link {
    padding-right: 24px;

    span {
      transition: opacity .25s ease;
    }

    &::after {
      content: '';
      position: absolute;
      z-index: 3;
      top: 50%; right: 0;
      margin-top: -4px;
      width: 8px; height: 8px;
      background: $color-yellow;
      border-radius: 4px;
      transition: all .25s ease;
    }

    html.hasHover &:hover {
      border-color: $color-blue;

      span {
        opacity: .66;
      }

      &::after {
        transform: translateX(8px);
      }
    }
  }

  &:not(.btn--cta):not(.btn--link) {
    border-color: $color-blue;

    &::before {
      background: $color-yellow;
    }

    html.hasHover &:hover {
      color: $color-white;

      &::before {
        transition:
          all .5s ease,
          background .125s ease;
        background-color: $color-blue;
      }
    }
  }

  &.btn--cta {
    background: $color-yellow;

    html.hasHover &:hover {
      border-color: $color-blue;
    }
  }

  &.btn--negative {
    @include btn--negative;
  }
}