.dots {
  display: flex;
  align-items: center;

  & > * {
    width: 40px;
    height: 40px;
    margin-right: 8px;
    position: relative;
    cursor: pointer;

    &::before {
      content: '';
      position: absolute;
      top: 50%; left: 50%;
      width: 8px; height: 8px;
      border-radius: 999px;
      background: $color-blue;
      margin: -4px 0 0 -4px;
      transition: opacity .25s ease;
    }

    &:last-child {
      margin-right: 0;
    }

    html.hasHover &:hover::before {
      opacity: .6;
    }
  }

  svg {
    transform: rotate(-90deg);
    transition: transform .5s cubic-bezier(0.33, 1, 0.68, 1);
    --transition-duration: 5s;
  }

  @for $i from 1 through 10 {
    &[data-current="#{$i}"] {
      
      svg {
        transform: translateX(($i - 1) * 48px) rotate(-90deg);
      }
    }
  }

  .track,
  .fill {
    fill: none;
    stroke: $color-blue;
    stroke-width: 1;
    stroke-opacity: .2;
    stroke-linecap: round;
  }

  .fill {
    stroke-opacity: 1;
    stroke-dasharray: 120;
    stroke-dashoffset: 120;
  }

  svg.filled {

    .fill {
      transition: stroke-dashoffset var(--transition-duration) linear;    
      stroke-dashoffset: 0;
    }
  }
}

@mixin dots-white {

  & > *::before {
    background: $color-white;
  }

  .track,
  .fill {
    stroke: $color-white;
  }
}