.dropdown {

  &.dropdown--active {

    .list-header {
      display: flex;
      align-items: center;
      cursor: pointer;
      transition: all .5s ease;

      i {
        display: block;
        margin-left: .5em;
        font-size: 1.5em;
        line-height: .5;
        font-weight: normal;
        transition: transform .25s ease;
      }
    }

    .list-container {
      overflow: hidden;
      transition: all .5s ease;
    }

    &.dropdown--expanded {

      i {
        transform: rotate(180deg);
      }
    }

    &:not(.dropdown--expanded) {

      .list-header {
        margin-bottom: 0 !important;
      }

      .list-container {
        max-height: 0 !important;
        opacity: 0;
      }
    }
  }

  &:not(.dropdown--active) {

    i {
      display: none !important;
    }
  }
}