.image-shadow {
  position: relative;
  display: inline-flex;

  & > :nth-child(2),
  & > :nth-child(3) {
    position: absolute;
    top: 0; left: 0;
    width: 100%;
    height: 100%;
    object-fit: contain;
    object-position: center;
    mix-blend-mode: multiply;
    pointer-events: none;
    opacity: 0;
    transition: opacity .5s ease !important;
  }

  & > :nth-child(2) {
    transform: translateX(5%) !important;
    z-index: -1;
    filter: blur(24px);

    html.htmlReady & {
      opacity: .7;
    }
  }

  & > :nth-child(3) {
    transform: translate3d(10%, 5%, 0) !important;
    z-index: -2;
    filter: blur(48px); 

    html.htmlReady & {
      opacity: .8;
    }
  }
}