.solan-logo {
  position: relative;
  display: inline-block;
  font-size: 0;

  &::before,
  &::after,
  .inner::before,
  .inner::after {
    content: '';
    position: absolute;
    top: 0; left: 0;
    width: 100%; height: 100%;
    background-size: contain;
    background-repeat: no-repeat;
    background-position: center;
    transition: opacity .5s ease;
    opacity: 0;
  }

  &::before {
    background-image: url('../../vector/logo-color-yellow.svg');
    opacity: 1;
  }

  &::after {
    background-image: url('../../vector/logo-color-blue.svg');
  }

  .inner {
    &::before {
      background-image: url('../../vector/logo-mono-white.svg');
    }

    &::after {
      background-image: url('../../vector/logo-mono-blue.svg');
    }
  }
}