.pagination-wrap {
  margin-top: 80px;
  text-align: center;

  @include responsive(md) {
    margin-top: 60px;
  }

  @include responsive(-sm) {
    margin-top: 40px;
  }
}

.page-numbers {
  margin: 0 auto;
  text-align: center;
  display: inline-flex;
  align-items: center;

  li > * {
    line-height: 1;
    display: grid;
    place-items: center;
    padding: 9px 16px 7px;
    border-radius: 999px;
    margin: 0 8px;
    border: 1px solid transparent;
    transition: border-color .25s ease;

    @include responsive(-sm) {
      padding: 7px 8px 5px;
      margin: 0 4px;
    }

    html.hasHover &:not(span):hover {
      border-color: rgba($color-blue, .2);
    }
  }

  i {
    font-size: 24px;
    line-height: 16px;
    position: relative;
    top: -1px;
  }

  .current {
    border-color: $color-blue;
    color: $color-blue;
    font-weight: 650;
  }

  span.dots {
    margin: 0 -8px;
  }
}

.pagination {
  display: flex;

  span {
    display: flex;
    line-height: 1;
    font-size: 24px;
    padding: 8px 16px;
    border: 1px solid $color-blue;
    border-radius: 999px;
    color: $color-blue;
    cursor: pointer;
    transition: background .25s ease;

    html.hasHover &:hover {
      background-color: rgba($color-blue, .07);
    }

    &.next {
      margin-left: 16px;
    }

    @include responsive(-md) {
      padding: 4px 12px;
    }
  }
}