.pills {
  display: flex;
  align-items: center;
  line-height: 30px;

  a {
    display: block;
    padding: 4px 16px;
    border: 1px solid transparent;
    border-radius: 999px;
    margin: 0 8px;
    transition: all .25s ease-in-out;

    html.hasHover &:hover {
      border-color: rgba($color-blue, .15);
    }
  }

  & > :first-child a {
    margin-left: 0;
  }

  & > :last-child a {
    margin-right: 0;
  }

  & > [class*="current"] a {
    border-color: $color-blue;
    // pointer-events: none;
  }

  & > * {
    flex-shrink: 0;
  }

  &.pills--nowrap {
    @extend %hide-scrollbars;
    overflow-x: auto;
  }

  &.pills--solid {
    
    a {
      background: rgba($color-blue, .1);
      font-weight: 650;

      html.hasHover &:hover {
        background-color: $color-blue;
        color: $color-white;
      }
    }
  }
}