.select-wrap {
  display: flex;
  align-items: center;
  position: relative;

  select {
    appearance: none;
    -moz-appearance: none;
    position: absolute;
    top: 0; left: 0;
    width: 100%; height: 100%;
    opacity: 0;
    cursor: pointer;
  }

  .placeholder {
    color: $color-blue;
    font-size: 16px;
    font-weight: 650;
    flex-grow: 1;
  }

  i {
    color: $color-blue;
    font-size: 24px;
    line-height: 16px;
    margin-left: 4px;
  }
}