.share-wrap {
  margin-top: 80px;
  display: flex;

  @include responsive(-md) {
    margin-top: 60px;
  }

  & > span {
    margin-right: 16px;
    font-size: 16px !important;
    font-weight: 650;
  }

  ul {
    display: flex;
    align-items: center;

    a {
      font-size: 0;
      padding: 8px;
      transition: all .25s ease;

      i {
        font-size: 24px;
      }
    }

    html.hasHover &:hover {

      a:not(:hover) {
        opacity: .66;
      }

      a:hover {
        color: $color-blue-dark;
      }
    }
  }
}