@keyframes spin {
  0%   { transform: scale(2) }
  100% { transform: scale(2) rotate(360deg) }
}

.text-editor {

  * + * {
    margin-top: 1em;
  }

  a:not(.btn) {
    position: relative;

    &::before {
      content: '';
      @extend %stretch;
      box-shadow: inset 0 -1px $color-blue;
      transition: transform .25s ease-in-out;
      transform-origin: left center;
      transform: scaleX(0);
    }

    html.hasHover &:hover::before {
      transform: none;
    }
  }

  ol,
  ul {
    padding: 8px 0 8px 32px;
  }

  ul {

    li {
      position: relative;

      &::before {
        content: '';
        display: block;
        width: 6px; height: 6px;
        background: $color-blue;
        position: absolute;
        left: -28px;
        top: .75em;
        border-radius: 4px;
      }
    }
  }

  ol {

    li {
      position: relative;
      counter-increment: custom;

      &::before {
        content: counter(custom) ' ';
        color: $color-blue;
        position: absolute;
        left: -32px;
        font-size: 1.3em;
      }

      &:first-child {
        counter-reset: custom;
      }
    }
  }

  h2 {
    font-size: 1.5em;
    color: $color-blue;
    margin: 2em 0 1em;
  }

  blockquote {
    position: relative;
    padding: 24px 0 24px 48px;
    @include text-h6;

    cite {
      display: block;
      margin-top: 16px;
      @include text-body-1;

      .author {
        font-weight: 650;
      }

      .position {
        @include text-body-2;
        margin: 0;
      }
    }

    &::before {
      content: '';
      position: absolute;
      top: 20px; left: 0;
      width: 1px;
      bottom: 20px;
      background: $color-yellow;
    }

    @include responsive(-md) {
      padding-left: var(--side-margin);
    }
  }

  img {
    margin: 2em 0;

    & + blockquote {
      margin-top: 0;
    }

    @include responsive(-sm) {
      margin-left: calc(-1 * var(--side-margin));
      margin-right: calc(-1 * var(--side-margin));
      max-width: 100vw;
    }
  }

  .video-embed {
    display: flex;
    position: relative;
    cursor: pointer;
    margin: 2em 0;

    img {
      position: relative;
      z-index: 3;
      margin: 0;
      transition: filter .5s ease;
    }

    iframe {
      margin: 0;
      position: absolute;
      z-index: 0;
      top: 0; left: 0;
      width: 100%;
      height: 100%;
      opacity: 0;
      transition: opacity .5s ease;
    }

    &::before,
    &::after {
      z-index: 5;
      transition:
        transform .5s ease,
        opacity .5s ease,
        border-color .5s ease;
    }

    &::after {
      content: '';
      width: 128px;
      height: 128px;
      position: absolute;
      top: 50%; left: 50%;
      margin: -64px 0 0 -64px;
      border: 1px solid $color-white;
      border-radius: 999px;
      -webkit-backdrop-filter: blur(20px);
      background-color: rgba($color-black, .1);
      backdrop-filter: blur(20px);
      transform: scale(1.1);
    }

    &::before {
      content: '';
      position: absolute;
      z-index: 6;
      top: 50%; left: 50%;
      font-size: 24px;
      margin: -12px 0 0 -12px;
      color: $color-white;
      font-family: 'remixicon' !important;
      display: flex;
      align-items: center;
      justify-content: center;
      line-height: 1;
      width: 24px;
      height: 24px;
      border: 2px solid transparent;
      border-radius: 999px;
    }

    &:not(.loaded) {
      pointer-events: none;
    }

    &.loading {

      &::before {
        color: transparent !important;
        border-color: transparent $color-white $color-white;
        animation: 1s linear infinite spin;
      }

      &::after {
        opacity: 0 !important;
      }

      img {
        filter: brightness(.5) !important;
      }
    }

    &.ready {
      background: transparent !important;
      pointer-events: none;

      img,
      &::before,
      &::after {
        // transition: all .5s ease 1.5s !important;
        opacity: 0;
        pointer-events: none;
      }

      iframe {
        pointer-events: all;
        opacity: 1;
      }
    }

    html.hasHover &:hover {

      &::before {
        transform: scale(3);
      }

      &::after {
        transform: scale(1.2);
      }

      img {
        filter: brightness(.8);
      }
    }

    @include responsive(-sm) {
      margin-left: calc(-1 * var(--side-margin));
      margin-right: calc(-1 * var(--side-margin));
      max-width: 100vw;

      &::after {
        width: 80px;
        height: 80px;
        margin: -40px 0 0 -40px;
      }
    }
  }

  &.mod--full-width {
    margin-left: calc(-1 * var(--screen-diff));
    margin-right: calc(-1 * var(--screen-diff));
  }

  &.mod--full-height .video-embed {
    min-height: 100vh;
  }
}


.text-editor-container {

  margin: 0 auto;

  @include responsive(xl-) {
    max-width: cols(8);
  }

  @include responsive(lg) {
    max-width: cols(10);
  }
}
