@font-face {
  font-family: 'Futura Std';
  font-weight: 300;
  font-style: normal;
  src: url('../fonts/FuturaStdLight.woff') format('woff');
}

@font-face {
  font-family: 'Futura Std';
  font-weight: 300;
  font-style: italic;
  src: url('../fonts/FuturaStdLightOblique.woff') format('woff');
}

@font-face {
  font-family: 'Futura Std';
  font-weight: 500;
  font-style: normal;
  src: url('../fonts/FuturaStdMedium.woff') format('woff');
}

@font-face {
  font-family: 'Futura Std';
  font-weight: 500;
  font-style: italic;
  src: url('../fonts/FuturaStdMediumOblique.woff') format('woff');
}

@font-face {
  font-family: 'Futura Std';
  font-weight: 600;
  font-style: normal;
  src: url('../fonts/FuturaStdHeavy.woff') format('woff');
}

@font-face {
  font-family: 'Futura Std';
  font-weight: 600;
  font-style: italic;
  src: url('../fonts/FuturaStdHeavyOblique.woff') format('woff');
}

@font-face {
  font-family: 'remixicon';
  src: url('../icons/remixicon.eot?t=1590207869815'); /* IE9*/
  src: url('../icons/remixicon.eot?t=1590207869815#iefix') format('embedded-opentype'), /* IE6-IE8 */
  url("../icons/remixicon.woff2?t=1590207869815") format("woff2"),
  url("../icons/remixicon.woff?t=1590207869815") format("woff"),
  url('../icons/remixicon.ttf?t=1590207869815') format('truetype'), /* chrome, firefox, opera, Safari, Android, iOS 4.2+*/
  url('../icons/remixicon.svg?t=1590207869815#remixicon') format('svg'); /* iOS 4.1- */
  font-display: swap;
}
