* {
  box-sizing: border-box;
  -webkit-tap-highlight-color: transparent !important;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  text-rendering: optimizeLegibility;
  padding: 0;
  margin: 0;

  &:focus {
    outline: none;
  }
}

html {
  font-size: 8px;

  // Preserve explicit touch transitions (.tt)
  &:not(.hasHover) {

    :not(.tt):active,
    :active :not(.tt) {
      transition: none !important;
    }
  }

  overflow-x: hidden;
  overflow-y: auto;
}

body {
  @include text-body-1;
  position: relative;
  min-height: 100vh;
  color: $color-blue-dark;
  overflow-x: hidden
}

ul,
ol {
  list-style: none;
}

a {
  color: $color-blue;
  text-decoration: none;
}
