@mixin text-heading {
  font-family: 'Futura Std';
  font-style: normal;
  font-weight: 300;
  line-height: 120%;
  text-transform: uppercase;
  letter-spacing: .1em;
}


@mixin text-h0 {
  @include text-heading;
  font-size: 128px;

  @include responsive(lg) {
    font-size: 112px;
  }

  @include responsive(md) {
    font-size: 96px;
  }

  @include responsive(-sm) {
    font-size: 80px;
  }
}


@mixin text-h1 {
  @include text-heading;
  font-size: 52px;

  @include responsive(lg) {
    font-size: 44px;
  }

  @include responsive(md) {
    font-size: 38px;
  }

  @include responsive(-sm) {
    font-size: 32px;
  }
}


@mixin text-h2 {
  @include text-heading;
  font-size: 44px;

  @include responsive(lg) {
    font-size: 38px;
  }

  @include responsive(md) {
    font-size: 32px;
  }

  @include responsive(-sm) {
    font-size: 26px;
  }
}


@mixin text-h3 {
  @include text-heading;
  font-size: 38px;

  @include responsive(lg) {
    font-size: 32px;
  }

  @include responsive(md) {
    font-size: 26px;
  }

  @include responsive(-sm) {
    font-size: 20px;
  }
}


@mixin text-h4 {
  @include text-heading;
  font-size: 32px;

  @include responsive(lg) {
    font-size: 26px;
  }

  @include responsive(md) {
    font-size: 20px;
  }

  @include responsive(-sm) {
    font-size: 18px;
  }
}


@mixin text-h5 {
  @include text-heading;
  font-size: 26px;

  @include responsive(lg) {
    font-size: 20px;
  }

  @include responsive(md) {
    font-size: 18px;
  }

  @include responsive(-sm) {
    font-size: 16px;
  }
}


@mixin text-h6 {
  @include text-heading;
  font-size: 20px;

  @include responsive(lg) {
    font-size: 18px;
  }

  @include responsive(md) {
    font-size: 16px;
  }

  @include responsive(-sm) {
    font-size: 16px;
  }
}


@mixin text-body-1 {
  font-family: 'Futura Std';
  font-style: normal;
  font-weight: 500;
  font-size: 16px;
  line-height: 180%;  

  @include responsive(-sm) {
    font-size: 14px;
  }
}


@mixin text-body-1-bold {
  @include text-body-1;
  font-weight: 650;
}


@mixin text-body-2 {
  font-family: 'Futura Std';
  font-style: normal;
  font-weight: 500;
  font-size: 14px;
  line-height: 160%;  
}
