.pre-footer
  .container
    .footer-logos(data-count="8")
      a(href="#" target="_blank").logo-wrap
        img(src="./assets/img/logo-ecoembes.png")
      .logo-wrap
        img(src="./assets/img/logo-itqi.png")
      .logo-wrap
        img(src="./assets/img/logo-bureau-veritas.png")
      .logo-wrap
        img(src="./assets/img/logo-emas.png")
      .logo-wrap
        img(src="./assets/img/logo-bureau-veritas-2.png")
      .logo-wrap
        img(src="./assets/img/logo-ilunion.png")
      .logo-wrap
        img(src="./assets/img/logo-eu.png")
      .logo-wrap
        img(src="./assets/img/logo-igualdad-empresa.png")
.container
  .row
    .col
      .solan-logo: .inner
      ul.social
        li
          a(href="#") YouTube
            i.ri-youtube-line
        li
          a(href="#") Instagram
            i.ri-instagram-line
        li
          a(href="#") Facebook
            i.ri-facebook-box-line
        li
          a(href="#") Twitter
            i.ri-twitter-line
  nav.row
    ul.col.dropdown.dropdown--sm
      li.list-header.tt: a(href="#") Compañía
      ul.list-container.tt
        li.list-item: a(href="#") Historia
        li.list-item: a(href="#") Misión y valores
        li.list-item: a(href="#") Premios
        li.list-item: a(href="#") Solán en el mundo
        li.list-item: a(href="#") Únete a nuestro equipo
        li.list-item: a(href="#") Informe anual
    ul.col.dropdown.dropdown--sm
      li.list-header.tt: a(href="#") Agua mineral natural
      ul.list-container.tt
        li.list-item: a(href="#") Agua mineral natural
        li.list-item: a(href="#") El manantial
        li.list-item: a(href="#") El poder del agua mineral
    ul.col.dropdown.dropdown--sm
      li.list-header.tt: a(href="#") Productos
      ul.list-container.tt
        li.list-item: a(href="#") Agua natural
        li.list-item: a(href="#") Agua con gas
        li.list-item: a(href="#") Aguas funcionales
        li.list-item: a(href="#") Aguas con sabor
        li.list-item: a(href="#") Dispensador
    ul.col.dropdown.dropdown--sm
      li.list-header.tt: a(href="#") Sostenibilidad
      ul.list-container.tt
        li.list-item: a(href="#") Protección del medio ambiente
        li.list-item: a(href="#") Envases y logística
        li.list-item: a(href="#") Compromiso con la sociedad
        li.list-item: a(href="#") Gestión ética
        li.list-item: a(href="#") Personas y talento
    // Ejemplo de maquetación con otros tags
    .col.dropdown.dropdown--sm
      h3.list-header.tt Mundo Solán
      .list-container.tt
        .list-item: a(href="#") Experiencia Solán
        .list-item: a(href="#") Patrocinios
        .list-item: a(href="#") Consejos por Xuan Lan
        .list-item: a(href="#") Recetas saludables
        .list-item: a(href="#") Bienestar
        .list-item: a(href="#") Embarazo
        .list-item: a(href="#") (Re)Convertibles
        .list-item: a(href="#") Los lugares más puros
  .row
    .col
      p.copyright &copy; 2022 Solán de Cabras. Todos los derechos reservados.
      ul.legal
        li: a(href="#") Aviso legal
        li: a(href="#") Contacta
        li: a(href="#") Política de cookies
        li: a(href="#") Condiciones generales
        li: a(href="#") Política de privacidad
