doctype html
block vars  
html(lang="es", class=`${htmlClasses}`)
  include ../partials/structure/html-head
  body(class=`${bodyClasses}`)
    #page
      header#header
        block header
          include ../partials/header/header-default
      main#main
        block main
      footer#footer
        block footer
          include ../partials/footer/footer-default
    include ../partials/structure/html-foot
    block template-scripts