head
  meta(http-equiv="X-UA-Compatible", content="IE=edge")
  meta(charset="UTF-8")
  meta(name="viewport" content="width=device-width, initial-scale=1.0, user-scalable=0")

  link(rel="apple-touch-icon" sizes="180x180" href="./assets/favicon/apple-touch-icon.png")
  link(rel="icon" type="image/png" sizes="32x32" href="./assets/favicon/favicon-32x32.png")
  link(rel="icon" type="image/png" sizes="16x16" href="./assets/favicon/favicon-16x16.png")
  link(rel="manifest" href="./assets/favicon/site.webmanifest")
  link(rel="shortcut icon" href="./assets/favicon/favicon.ico")
  meta(name="msapplication-config" content="./assets/favicon/browserconfig.xml")

  title Llénate de bienestar natural | Solán de Cabras

  link(href="./assets/style/css/site-local.css" rel="stylesheet")
  link(href="./assets/style/css/site-dev.css" rel="stylesheet")