@import 'cards-horizontal';
@import 'cards-product';
@import 'cards-slider';
@import 'cards-vertical';
@import 'full-image-text';
@import 'grid';
@import 'hero';
@import 'image-text';
@import 'map';
@import 'nav-subsection';
@import 'nav-category';
@import 'text-scrolling';

.mod + .mod {
  @include responsive(lg-) {
    margin-top: 140px;
  }

  @include responsive(md) {
    margin-top: 96px;
  }

  @include responsive(-sm) {
    margin-top: 80px;
  }

  &.mod--margin-none {
    margin-top: 0;
  }

  &.mod--margin-xs {
    @include responsive(lg-) {
      margin-top: 48px;
    }

    @include responsive(md) {
      margin-top: 32px;
    }
  
    @include responsive(-sm) {
      margin-top: 24px;
    }
  }

  &.mod--margin-sm {
    @include responsive(lg-) {
      margin-top: 96px;
    }

    @include responsive(md) {
      margin-top: 64px;
    }
  
    @include responsive(-sm) {
      margin-top: 48px;
    }
  }

  &.mod--margin-desktop-md {
    @include responsive(lg-) {
      margin-top: 140px;
    }  
  }

  &.mod--margin-desktop-sm {
    @include responsive(lg-) {
      margin-top: 96px;
    }
  }

  &.mod--margin-desktop-xs {
    @include responsive(lg-) {
      margin-top: 48px;
    }
  }

  &.mod--margin-desktop-none {
    @include responsive(lg-) {
      margin-top: 0;
    }
  }

  &.mod--margin-tablet-md {
    @include responsive(md) {
      margin-top: 96px;
    }  
  }

  &.mod--margin-tablet-sm {
    @include responsive(md) {
      margin-top: 64px;
    }
  }

  &.mod--margin-tablet-xs {
    @include responsive(md) {
      margin-top: 32px;
    }    
  }

  &.mod--margin-tablet-none {
    @include responsive(md) {
      margin-top: 0;
    }
  }

  &.mod--margin-smartphone-md {
    @include responsive(-sm) {
      margin-top: 80px;
    }
  }

  &.mod--margin-smartphone-sm {
    @include responsive(-sm) {
      margin-top: 48px;
    }
  }

  &.mod--margin-smartphone-xs {
    @include responsive(-sm) {
      margin-top: 24px;
    }    
  }

  &.mod--margin-smartphone-none {
    @include responsive(-sm) {
      margin-top: 0;
    }
  }
}

.mod--outer-gradient-cut {
  @media (min-width: 1600px) {

    &::before {
      content: '';
      position: absolute;
      z-index: 10;
      top: 0;
      left: calc(-1 * var(--grid-diff));
      width: var(--grid-diff);
      height: 100%;
      @include smooth-gradient($color-white);
      pointer-events: none;
    }

    &::after {
      content: '';
      position: absolute;
      z-index: 10;
      top: 0;
      right: calc(-1 * var(--grid-diff));
      width: var(--grid-diff);
      height: 100%;
      @include smooth-gradient($color-white, left);
      pointer-events: none;
    }
  }
}

.mod--inner-gradient-cut {
  @media (min-width: 1600px) {

    &::before {
      content: '';
      position: absolute;
      z-index: 10;
      top: 0;
      left: 0;
      width: var(--grid-diff);
      height: 100%;
      @include smooth-gradient($color-white);
      pointer-events: none;
    }

    &::after {
      content: '';
      position: absolute;
      z-index: 10;
      top: 0;
      right: 0;
      width: var(--grid-diff);
      height: 100%;
      @include smooth-gradient($color-white, left);
      pointer-events: none;
    }
  }
}

.mod:not(.mod--hero):not(.mod--transition-none) {
  transition: 1s all ease;
  opacity: 0;
  transform: translateY(5%);

  &.shown {
    opacity: 1;
    transform: none;
  }
}

.mod.mod--hero:not(.mod--transition-none) {
  transition: 1s all ease;
  opacity: 0;

  &.shown {
    opacity: 1;
  }
}

.mod .text-center {
  text-align: center;
}