.mod.mod--cards-slider {
  position: relative;
  @extend .mod--outer-gradient-cut;

  .pagination {
    align-items: center;
    justify-content: flex-end;
    margin-bottom: 48px;

    @include responsive(-md) {
      position: absolute;
    }
  }

  @include responsive (-md) {

    & > .pagination {
      display: none;
    }
  }

  .main-wrap {
    display: flex;
    align-items: flex-start;
    justify-content: space-between;

    @include responsive(-md) {
      flex-direction: column;
    }
  }

  .mod-header {
    position: relative;
    z-index: 1;
    min-width: cols(4);
    width: cols(4);

    @include responsive(lg) {
      min-width: cols(5);
      width: cols(5);
    }

    @include responsive(-md) {
      width: 100%;
      min-width: none;
      margin-bottom: 60px;

      & > :not(.btn) {
        width: cols(8);
        min-width: cols(8);
      }
    }

    @include responsive(-sm) {
      margin-bottom: 40px;

      & > :not(.btn) {
        width: 100%;
        min-width: 100%;
      }
    }

    @include responsive(lg-) {

      .pagination {
        display: none;
      }
    }

    @include responsive(-sm) {

      .pagination {
        display: none;
      }
    }

    .pagination {
      position: absolute;
      bottom: 0;
      right: 0;
      margin: 0;
    }

    .pretitle {
      @include text-body-1-bold;
      margin-bottom: 16px;
      color: $color-blue;
    }

    .title {
      @include text-h3;
      margin-bottom: 32px;
      color: $color-blue;
    }
  }

  .card-container {
    margin-right: calc(-1 * var(--grid-diff));
    padding-left: calc(var(--col-width) + 2 * var(--gutter-width));
    display: flex;
    overflow: hidden;

    @include responsive(-md) {
      max-width: calc(100% + var(--side-margin));
    }

    &.next {

      .card {

        &:first-child {
          transform: translateX(-20%) scale(.9);
          opacity: 0;
          filter: blur(5px);
        }

        &:not(:first-child) {
          transform: translateX(calc(-100% - var(--gutter-width)));
        }
      }
    }

    &.instant .card {
      transition: none !important;
    }
  }

  .card {
    width: cols(3);
    margin: 0 var(--half-gutter);
    flex-shrink: 0;
    background: $color-light;
    transition: all .5s cubic-bezier(0.33, 1, 0.68, 1);

    @include responsive(lg) {
      width: cols(4);
    }

    @include responsive(md) {
      width: cols(5);
    }

    @include responsive(-sm) {
      width: cols(10);
    }

    p:not(.pretitle) {
      @include text-body-2;
      color: $color-blue;
    }

    &:first-child {
      margin-left: 0;
    }

    &:last-child {
      margin-right: 0;
    }

    .img-wrap {
      display: block;
      padding-bottom: 100%;
      background-color: $color-blue;
      overflow: hidden;

      img {
        transition: all .5s ease;
        transform: scale(1.001);

        html.hasHover &:hover {
          opacity: .85;
          transform: scale(1.025);
        }
      }
    }
  }

  .text-wrap {
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    padding: 24px 24px 40px;
  }

  .pretitle {
    margin-bottom: 16px;
  }

  .title {
    @include text-h6;
    margin-bottom: 16px;
  }

  a.pretitle,
  .pretitle a,
  a.title,
  .title a {
    transition: opacity .25s ease;

    html.hasHover &:hover {
      opacity: .66;
    }
  }

  .btn {
    margin-top: 32px;

    @include responsive(md) {
      margin-top: 24px;
    }

    @include responsive(-sm) {
      margin-top: 16px;
    }
  }

  & > .img-wrap {
    height: 400px;
    margin-top: -160px;
    z-index: -1;

    @include responsive(md) {
      height: 600px;
      margin-top: -360px;
    }

    @include responsive(-sm) {
      height: 600px;
      margin-top: -480px;
      margin-left: calc(-1 * var(--side-margin));
      margin-right: calc(-1 * var(--side-margin));
    }
  }

  @include responsive(-md) {

    &.mod--no-picture {

      .card-container {
        padding-left: 0 !important;
      }
    }
  }
}