.mod.mod--cards-horizontal {

  .mod-header {
    position: relative;
    z-index: 1;

    & > :not(.btn) {
      width: cols(5);

      @include responsive(-sm) {
        width: 100%;
      }

      @include responsive(md) {
        width: cols(7);
      }

      @include responsive(lg) {
        width: cols(6);
      }
    }

    .pretitle {
      @include text-body-1-bold;
      margin-bottom: 16px;
      color: $color-blue;
    }

    .title {
      @include text-h3;
      margin-bottom: 32px;
      color: $color-blue;
    }

    @include responsive(md-) {

      a {
        margin-top: 24px;
        position: absolute;
        right: 0;
        bottom: 0;
      }
    }
  }

  .card-container {
    margin-top: 80px;
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    column-gap: var(--gutter-width);
    row-gap: 80px;

    @include responsive(-md) {
      grid-template-columns: repeat(2, 1fr);
      margin-top: 60px;
      row-gap: 60px;
    }

    @include responsive(xs) {
      grid-template-columns: 1fr;
      margin-top: 40px;
      row-gap: 40px;
    }
  }

  .img-wrap {
    display: block;
    padding-bottom: 100%;
    margin-bottom: 32px;
    background-color: $color-blue;
    overflow: hidden;

    @include responsive(xs) {
      padding-bottom: 50%;
      margin-left: calc(-1 * var(--side-margin));
      margin-right: calc(-1 * var(--side-margin));
    }

    img {
      transition: all .5s ease;
      transform: scale(1.001);

      html.hasHover &:hover {
        opacity: .85;
        transform: scale(1.025);
      }
    }
  }

  
  &.mod--two-col {
    
    @include responsive(lg-) {

      .card-container {
        grid-template-columns: repeat(2, 1fr);
      }
    }

    .img-wrap {
      padding-bottom: 66.67%;
    }
  }

  .text-wrap {
    display: flex;
    flex-direction: column;
    align-items: flex-start;
  }

  .pretitle {
    margin-bottom: 16px;
  }

  .title {
    @include text-h6;
    margin-bottom: 16px;
  }

  a.pretitle,
  .pretitle a,
  a.title,
  .title a {
    transition: opacity .25s ease;

    html.hasHover &:hover {
      opacity: .66;
    }
  }

  .btn {
    margin-top: 32px;

    @include responsive(md) {
      margin-top: 24px;
    }

    @include responsive(-sm) {
      margin-top: 16px;
    }
  }
}