.mod.mod--cards-product {
  position: relative;

  .header-wrap {
    position: relative;
  }

  .mod-header {
    width: cols(5);
    align-self: flex-start;

    .pretitle {
      @include text-body-1-bold;
      color: $color-blue;
      margin-bottom: 16px;
    }

    .title {
      @include text-h3;
      color: $color-blue;
      margin-bottom: 32px;
    }
    .btn {
      margin-top: 40px;
    }
  }

  .card {
    position: relative;
    display: flex;
    flex-direction: column;
    align-items: center;

    .image-shadow {
      width: 230px;
      height: 430px;
    }

    .title {
      @include text-h5;
      margin-top: 8px;
      color: $color-blue;
      margin-bottom: 10px;
    }

    .btn {
      margin: 32px 0 48px;
    }

    p,
    .title {
      max-width: 300px;
      text-align: center;
    }
  }

  svg {
    position: absolute;
    z-index: -999;
    left: 0;
    bottom: 0;
    width: 100%;
    height: 410px;
  }

  &.mod--two-cols,
  &.mod--three-cols {

    .mod-header {
      margin-bottom: 64px;

      @include responsive(lg-) {
        .btn {
          position: absolute;
          right: 0;
          bottom: 8px;
        }
      }
    }

    .card-container {
      display: grid;
      gap: var(--gutter-width);
    }

    @include responsive(-sm) {

      .card-container {
        grid-template-columns: 1fr !important;
      }
    }
  }

  &.mod--two-cols .card-container {
    grid-template-columns: repeat(2, 1fr);
  }

  &.mod--three-cols .card-container {
    grid-template-columns: repeat(3, 1fr);

    @include responsive(md-lg) {
      grid-template-columns: repeat(2, 1fr);
    }
  }

  @include responsive(lg-) {

    &.mod--single {
      height: 720px;
      display: flex;
      flex-direction: row-reverse;
      justify-content: space-between;

      .card-container {
        width: cols(6);
        align-self: flex-end;
      }

      &.mod--card-right {
        flex-direction: row;
      }

      li {
        position: static;
      }
    }
  }

  @include responsive(-md) {
    flex-direction: column !important;
    align-items: center !important;

    .mod-header {
      width: cols(10);
      margin-bottom: 32px !important;
    }
  }
}