@mixin cards--stacked {
  flex-direction: column;
  justify-content: flex-start;

  .mod-header {
    position: relative;
    top: auto;
    width: 100%;
    margin-bottom: 80px;

    @include responsive(md) {
      margin-bottom: 60px;
    }

    @include responsive(-sm) {
      margin-bottom: 40px;
    }

    & > * {
      width: cols(4);
    }

    & > a {
      width: auto;
    }
  }

  .card-container {
    width: 100%;
    grid-template-columns: 1fr 1fr;

    .card {
      height: 464px;
    }
  }

  &::before {
    display: none;
  }

  svg {
    display: none;
  }

  @include responsive(xl-) {

    &.mod--grid:not(.mod--boxed).mod--three-col {

      .card-container {
        grid-template-columns: repeat(3, 1fr);
      }
    }
  }
}

@mixin cards--mod-header-link--horizontal {

  .mod-header {

    a {
      position: absolute;
      bottom: 0;
      right: 0;
      text-align: right;
    }
  }
}

.mod.mod--cards-vertical {
  display: flex;
  align-items: flex-start;
  justify-content: space-between;
  position: relative;
  color: $color-blue;

  &::before {
    content: '';
    width: 572px;
    height: 768px;
    background: url($theme-path + '/assets/vector/symbol-outline-thin-blue.svg') no-repeat scroll 0 0;
    background-size: 652px 848px;
    background-position: right top;
    position: absolute;
    bottom: 0;
    left: 0;
    opacity: .1;
    pointer-events: none;
  }

  &.mod--boxed {
    background: $color-blue;
    color: $color-white;
    padding: 120px 40px;

    @include responsive(md) {
      padding: 80px 40px;
    }

    @include responsive(-sm) {
      padding: 60px var(--side-margin);
      margin-left: calc(-1 * var(--side-margin));
      margin-right: calc(-1 * var(--side-margin));
    }

    .mod-header {

      a {
        color: $color-white;
      }
    }

    &::before {
      background-image: url($theme-path + '/assets/vector/symbol-outline-thin.svg');
    }

    svg {
      opacity: 1;
      mix-blend-mode: multiply;

      g {
        opacity: .1;
      }
    }
  }

  &:not(.mod--boxed) {
    margin-left: calc(-1 * var(--grid-diff));
    margin-right: calc(-1 * var(--grid-diff));
    padding-left: var(--grid-diff);
    padding-right: var(--grid-diff);
  }

  .mod-header {
    width: cols(4);
    position: sticky;
    top: 40px;
    z-index: 1;

    .pretitle {
      @include text-body-1-bold;
      margin-bottom: 16px;
    }

    .title {
      @include text-h3;
      margin-bottom: 32px;
    }

    a {
      margin-top: 24px;
    }
  }

  .card-container {
    width: cols(5);
    display: grid;
    grid-template-columns: 1fr;
    gap: var(--gutter-width);
    position: relative;
    z-index: 1;

    @include responsive(-sm) {
      gap: var(--side-margin);
    }

    .card {
      min-height: 416px;
      position: relative;
      display: flex;
      align-items: flex-end;

      .img-wrap {
        position: absolute;
        @extend %stretch;

        img {
          @extend %stretch;
          height: 100%;
          object-fit: cover;
          object-position: center;
        }
      }
      
      .text-wrap {
        @extend %white-blur;
        color: $color-blue;
        position: relative;
        width: 100%;
        margin: 24px;
        padding: 24px;
        font-size: 0;

        p {
          @include text-body-2;
        }

        .pretitle {
          @include text-body-1;
          margin-bottom: 1em;
        }

        .title {
          @include text-h6;
          margin-bottom: .667em;
        }

        a {
          margin-top: 32px;
        }
      }
    }
  }

  svg {
    position: absolute;
    left: 0;
    bottom: 0;
    right: 0;
    height: 240px;
    width: 100%;
    pointer-events: none;
    opacity: .5;
  }

  @include responsive(xl-) {
    &.mod--cards-left {
      flex-direction: row-reverse;

      &::before {
        left: auto;
        right: 0;
        background-position: left top;
      }
    }
  }

  &.mod--grid {
    @include cards--stacked;

    @include responsive(xl-) {
      @include cards--mod-header-link--horizontal;
    }
  }

  @include responsive(-lg) {
    @include cards--stacked;

    .mod-header {
      width: cols(8) !important;

      & > * {
        width: auto !important;
      }
    }
  }

  @include responsive(-md) {

    .card-container {
      grid-template-columns: 1fr !important;
    }
  }

  @include responsive(-sm) {

    .mod-header {
      width: 100% !important;
    }
  }
}
