.mod.mod--full-image-text {
  position: relative;

  img {
    @extend %stretch;
    z-index: -1;
    object-fit: cover;
    object-position: center
  }

  .img-wrap {
    position: relative;
  }

  .card {
    
    .pretitle {
      color: $color-blue;
      margin-bottom: 16px;
    }

    .title {
      @include text-h4;
      color: $color-blue;
      margin-bottom: 32px;
    }

    .btn {
      margin-top: 24px;
    }
  }

  &.mod--full-width {
    padding-bottom: 66.67%;
    margin-left: calc(-1 * var(--screen-diff));
    margin-right: calc(-1 * var(--screen-diff));
    overflow: hidden;

    .img-wrap {
      width: calc(100% + 1px);
    }

    .card {
      left: var(--screen-diff);
    }

    &.mod--card-right {

      .card {
        left: auto;
        right: var(--screen-diff);
      }
    }
  }

  &.mod--full-height {
    min-height: 100vh;
  }

  @include responsive(lg-) {
    height: 0;
    padding-bottom: 56.25%;

    .img-wrap {
      position: absolute;
      top: 0; left: 0;
      width: 100%; height: 100%;
    }
  
    .card {
      padding: 48px;
      position: absolute;
      bottom: 40px;
      left: 40px;
      width: 512px;
    }
  }

  @include responsive(-md) {

    .img-wrap {
      height: 0;
      padding-bottom: 56.25%;
      margin-bottom: 24px;

      &::after {
        content: '';
        position: absolute;
        bottom: 0;
        left: 0;
        width: 100%;
        height: 100%;
        opacity: .6;
        background: url($theme-path + '/assets/vector/decoration-wave.svg') no-repeat scroll center bottom;
        background-size: contain;
      }
    }

    .card {
      max-width: 500px;

      .pretitle {
        margin-bottom: 8px;
      }

      .title {
        @include text-h5;
        margin-bottom: 16px;
      }
    }

    &.mod--bleed {

      .img-wrap {
        padding-bottom: 50%;
        margin-left: calc(-1 * var(--side-margin));
        margin-right: calc(-1 * var(--side-margin));
      }
    }
  }

  &.mod--card-right {
    .card {
      left: auto;
      right: 40px;
    }
  }

  &:not(.mod--boxless) {

    .card {
      @extend %white-blur;

      .pretitle,
      .title {
        color: $color-blue;
      }

      &::before {
        content: '';
        position: absolute;
        bottom: 0;
        left: 0;
        width: 100%;
        height: 100%;
        opacity: .6;
        background: url($theme-path + '/assets/vector/decoration-wave.svg') no-repeat scroll center bottom;
        background-size: contain;
      }
    }
  }

  @include responsive(lg-) {

    &.mod--boxless {
      color: $color-white;

      &::before {
        content: '';
        @include stretch;
        background: $color-black;
        opacity: .4;
        pointer-events: none;
      }

      &::after {
        content: '';
        @include stretch;
        background: url($theme-path + '/assets/vector/decoration-lines.svg') no-repeat scroll center center;
        background-size: contain;
        background-position: center bottom;
        opacity: .35;
        pointer-events: none;
      }

      .card {

        .pretitle,
        .title {
          color: $color-white;
        }
      }

      .btn {
        @include btn--negative;
      }
    }
  }

  @include responsive(lg-) {

    &.mod--bleed {
      padding-bottom: 50%;
      margin-left: calc(-1 * var(--grid-diff));
      margin-right: calc(-1 * var(--grid-diff));

      .card {
        left: var(--grid-diff);
      }

      &.mod--card-right {

        .card {
          left: auto;
          right: var(--grid-diff);
        }
      }

      &.mod--boxless {

        .card {
          padding-left: 0;
          padding-right: 0;
        }
      }
    }
  }
}