.mod.mod--grid {

  .mod-header {
    width: cols(4);
    align-self: flex-start;
    margin-bottom: 96px;

    .pretitle {
      @include text-body-1-bold;
      color: $color-blue;
      margin-bottom: 16px;
    }

    .title {
      @include text-h3;
      color: $color-blue;
      margin-bottom: 32px;
    }
    
    .btn {
      margin-top: 40px;
    }

    @include responsive(lg) {
      width: cols(6);
      margin-bottom: 80px;
    }

    @include responsive(md) {
      width: cols(8);
      margin-bottom: 64px;
    }

    @include responsive(-sm) {
      width: 100%;
      margin-bottom: 48px;
    }
  }

  .grid-wrap {
    display: grid;
    gap: var(--gutter-width);
    grid-template-columns: 1fr;

    & + .grid-wrap {
      margin-top: var(--gutter-width);
    }

    @for $i from 1 through 12 {
      &[data-cols="#{$i}"] {
        grid-template-columns: repeat($i, 1fr);
      }
    }

    @include responsive(-sm) {
      @for $i from 1 through 12 {
        &[data-sm-cols="#{$i}"] {
          grid-template-columns: repeat($i, 1fr);
        }
      }
    }

    @include responsive(md-) {
      @for $i from 1 through 12 {
        &[data-md-cols="#{$i}"] {
          grid-template-columns: repeat($i, 1fr);
        }
      }
    }

    @include responsive(lg-) {
      @for $i from 1 through 12 {
        &[data-lg-cols="#{$i}"] {
          grid-template-columns: repeat($i, 1fr);
        }
      }
    }

    @include responsive(xl-) {
      @for $i from 1 through 12 {
        &[data-xl-cols="#{$i}"] {
          grid-template-columns: repeat($i, 1fr);
        }
      }
    }
  }

  .item {
    --row: auto;
    --col: auto;
    --xl-row: var(--row);
    --xl-col: var(--col);
    --lg-row: var(--row);
    --lg-col: var(--col);
    --md-row: var(--row);
    --md-col: var(--col);
    --sm-row: var(--row);
    --sm-col: var(--col);

    position: relative;
    overflow: hidden;
    background: rgba($color-blue, .05);
    grid-row: var(--row);
    grid-column: var(--col);
    padding: 88px 24px;
    display: flex;
    flex-direction: column;
    align-items: center;
    text-align: center;

    p {
      position: relative;
      z-index: 10;
      color: $color-blue-dark;
    }

    .title {
      @include text-h6;
      color: $color-blue;

      & + p {
        margin-top: 10px;
      }
    }

    img.icon {
      width: 130px;
      height: 110px;
      object-fit: contain;
      margin-bottom: 24px;
    }

    svg {
      position: absolute;
      z-index: 0;
      left: 0; bottom: 0;
      width: 100%;
      height: 100%;
      pointer-events: none;
      transition: transform .25s ease-in-out;
      transform: translateY(40%);

      path {
        transition: transform .5s ease-in-out;

        &:nth-of-type(1) {
          transform-origin: right center;
          transform: scaleX(2);  
        }

        &:nth-of-type(2) {
          transform-origin: left center;
          transform: scaleX(2);
        }
      }
    }

    html.hasHover &:hover svg {
      transform: none;

      path {
        transition: transform 3s ease-in-out;
        transform: none;
      }
    }

    @include responsive(-sm) {
      grid-row: var(--sm-row);
      grid-column: var(--sm-col);
    }  

    @include responsive(md-) {
      grid-row: var(--md-row);
      grid-column: var(--md-col);
    }

    @include responsive(lg-) {
      grid-row: var(--lg-row);
      grid-column: var(--lg-col);
    }

    @include responsive(xl-) {
      grid-row: var(--xl-row);
      grid-column: var(--xl-col);
    }

    &.with-image {

      &::after {
        content: '';
        position: absolute;
        z-index: -1;
        top: 0;
        left: 0;
        width: 100%;
        height: 100%;
        background: rgba($color-black, .3);
      }

      img {
        position: absolute;
        z-index: -1;
        top: 0;
        left: 0;
        width: 100%;
        height: 100%;
        object-fit: cover;
        object-position: center;
      }

      p,
      .title {
        color: $color-white;
      }

      .title:last-child {
        margin-bottom: 0 !important;
      }

      svg {
        // mix-blend-mode: screen;
        opacity: .5;
      }
    }

    &.align-center {
      justify-content: center;
    }
  }
}