.mod.mod.mod--hero-product {

  .text-wrap {

    .title {
      @include text-h3;
    }
  }

  .img-wrap {
    width: cols(7.5, ' + var(--grid-diff)');

    @include responsive(lg-) {
      height: 100%;
    }

    @include responsive(-md) {
      width: 100%;
      height: 560px;
      margin-bottom: -16px !important;
    }

    @include responsive(-sm) {
      width: 95vw;
      height: 480px;
      margin-bottom: 16px !important;
    }

    span {
      display: block;
      text-align: center;
      color: $color-white;
      font-size: 280px;
      font-weight: 300;
      text-transform: uppercase;
      letter-spacing: .1em;
      position: absolute;
      top: 50%; left: 50%;
      transform: translate3d(-50%, -100%, 0);
      white-space: nowrap;
      pointer-events: none;
      opacity: .5;

      @include responsive(lg) {
        font-size: 240px;
      }

      @include responsive(md) {
        font-size: 180px;
      }

      @include responsive(-sm) {
        font-size: 120px;
        top: 60%;
      }
    }

    .image-shadow {
      width: 416px;
      height: 776px;
      position: absolute;
      top: 50%; left: 50%;
      margin: -388px 0 0 -148px;
      transform-origin: center;
      transform: translateY(-6%) rotate(30deg);

      @include responsive(lg) {
        margin-left: -104px;
        transform: rotate(30deg) scale(.9);
      }

      @include responsive(-md) {
        margin-left: -144px;
        transform: translateY(-4%) rotate(30deg) scale(.75);
      }

      @include responsive(-sm) {
        margin-left: -164px;
        transform: translateY(3%) rotate(30deg) scale(.5);
      }
    }

    img {
      width: 416px;
      height: 776px;

      &:nth-child(1) {
        z-index: 2;
      }

      &:nth-child(2) {
        filter: blur(48px);
        mix-blend-mode: multiply;
      }

      &:nth-child(3) {
        filter: blur(120px);
        mix-blend-mode: multiply;
      }
    }

    &::before {
      content: '';
      position: absolute;
      top: 0; left: 0;
      width: 100%;
      height: 100%;
      background: $color-white;
      opacity: .75;
      pointer-events: none;
    }

    &::after {
      background-size: 150%;

      @include responsive(lg) {
        background-size: cover;
      }

      @include responsive(-sm) {
        background-size: cover;
      }
    }
  }
}