.mod.mod--hero-section,
.mod.mod--hero-post {
  flex-direction: row;
  position: relative;

  &.mod { .text-wrap {
    margin-bottom: 64px;
  }}

  @include responsive(lg) { &.mod {
    height: 800px;
    max-height: 100vh;
    min-height: 600px;
  }}

  @include responsive(md) { &.mod {
    justify-content: flex-end;
    height: 600px;
  }}

  @include responsive(-sm) { &.mod {
    
    .img-wrap {
      height: 320px;
    }

    .text-wrap {
      margin-top: 344px;

      .slide {
        display: block;
      }
    }
  }}

  .img-wrap {
    display: flex;
    position: absolute;
    top: 0;
    $h-position: calc(-1 * var(--grid-diff));
    left: $h-position;
    right: $h-position;
    height: 100%;


    &::before {
      content: '';
      position: absolute;
      z-index: 1;
      left: 0;
      bottom: -4px;
      width: 100%;
      height: 24%;
      background: url('../../vector/decoration-waves-hero.svg') no-repeat scroll center;
      pointer-events: none;

      @include responsive(md) {
        height: 20%;
      }

      @include responsive(-sm) {
        bottom: -1px;
      }
    }

    &::after {
      content: '';
      position: absolute;
      top: 0; left: 0;
      width: 100%;
      height: 100%;
      @include smooth-gradient($color-blue-dark);
      opacity: .4;
      pointer-events: none;
    }
  }

  .text-wrap {

    .pretitle {
      @include text-body-1-bold;
      margin-bottom: 16px;
    }

    .title,
    .pretitle {
      color: $color-blue;
    }

    @include responsive(-sm) {
      margin-bottom: 0 !important;

      .title,
      .pretitle {
        color: $color-blue;
      }
    }

    .slide {
      height: 100%;
      display: flex;
      flex-direction: column;
      justify-content: flex-end;
    }

    &.text-wrap {

      @include responsive(-lg) {

        .btn {  
          margin-top: 32px;
        }
      }

      @include responsive(md-lg) {
        position: static;
      }
    }
  }

  @include responsive(md-) {
    
    body.header--negative &.mod--hero-post:not(.mod--no-picture),
    body.header--negative &.mod--hero-section {

      .text-wrap {

        color: $color-white;

        .title,
        .pretitle {
          color: $color-white;
        }

        p {
          @include white-text;
        }  
      }
    }
  }

  .dots {

    @include responsive(xl-) {
      margin-top: 56px;

      body.header--negative & {
        @include dots-white;
      }
    }

    @include responsive(md-lg) {
      position: absolute;
      z-index: 1;
      right: 0;
      bottom: 16px;
      margin: 0;
    }

    @include responsive(md) {
      bottom: 0;
    }

    @include responsive(-sm) {
      position: absolute;
      top: -96px;

      body.header--negative & {
        @include dots-white;
      }
    }
  }

  &.mod--small {
    height: 700px;

    &.mod {

      .text-wrap {
        margin-bottom: 56px;
      }

      @include responsive(lg) {
        height: 600px;
      }

      @include responsive(md) {
        height: 400px;

        .text-wrap {
          margin-bottom: 40px;
          width: cols(8);
        }
      }

      @include responsive(-sm) {
        height: auto;

        .img-wrap {
          height: 240px;
        }

        .text-wrap {
          margin-top: 272px;
          width: 100%;
        }
      }
    }

    .text-wrap {
      width: cols(6);

      .title {
        @include text-h3;
      }
    }
  }
}