.mod.mod.mod--hero.mod--hero-post {
  height: 600px;
  min-height: 0;

  &.mod--no-picture {
    height: 520px;
  }

  @include responsive(md) {
    height: 480px;

    &.mod--no-picture {
      height: 400px;
    }
  }

  @include responsive(-sm) {
    height: auto;

    .img-wrap {
      height: 360px;
    }
  }

  .img-wrap {

    &::before {
      background-image: url('../../vector/decoration-wave-hero.svg');
    }

    body.header--negative &::after {
      background: $color-blue-dark;

      @include responsive(-sm) {
        @include smooth-gradient($color-blue-dark, bottom);
      }
    }
  }

  .text-wrap {
    width: cols(8);
    margin: 0 auto 108px;

    @include responsive(lg) {
      width: cols(10);
      margin-left: cols(1.001);

      p {
        width: cols(8);
      }
    }

    @include responsive(md) {
      width: 100%;

      p {
        width: cols(8);
      }
    }

    @include responsive(-sm) {
      width: 100%;
    }

    .title {
      @include text-h3;
    }

    @include responsive(lg) {
      margin-bottom: 80px;
    }

    @include responsive(md) {
      margin-bottom: 48px;
    }

    @include responsive(-sm) {
      width: 100%;
      margin-top: 384px;
    }
  }

  &.mod--no-picture {
    height: auto !important;
    padding-top: calc(1.5 * var(--header-height));

    div {
      height: auto !important;
      position: static !important;
    }

    .text-wrap {
      margin-top: 0;
      margin-bottom: 0;
    }
  }
}