.mod.mod--hero-home,
.mod.mod--hero-product {
  flex-direction: row-reverse;

  @include responsive(lg) {
    height: 800px;
    max-height: none;
  }

  .img-wrap {
    display: flex;
    position: relative;
    width: cols(6.5, ' + var(--grid-diff)');
    height: 800px;
    margin-right: calc(-1 * var(--grid-diff));

    @include responsive(md) {
      margin-right: -100px;
    }

    @include responsive(-md) {
      height: 480px;
      width: 105%;
      margin-top: 0;
      margin-bottom: 48px;
    }

    @include responsive(-sm) {
      margin-top: -100px;
      margin-bottom: 56px;
    }

    &::after {
      content: '';
      position: absolute;
      top: 0; left: 0;
      width: 100%; height: 100%;
      background: url('../../vector/hero-home-mask.svg');
      background-size: cover;
      background-position: -1px bottom;
    }

    @media (min-width: 1600px) {
      width: cols(6.25, ' + var(--grid-diff)');
    }
  }

  .text-wrap {
    padding-bottom: 80px;

    .title {
      color: $color-blue;
    }

    .dots {
      margin-top: 56px;

      @include responsive(-md) {
        position: absolute;
        top: -120px;
      }
    }
  }
}