@import 'hero-home';
@import 'hero-section';
@import 'hero-product';
@import 'hero-post';

.mod.mod--hero-home,
.mod.mod--hero-section,
.mod.mod--hero-product,
.mod.mod--hero-post {
  height: 900px;
  max-height: 100vh;
  min-height: 700px;
  display: flex;
  align-items: flex-end;
  justify-content: space-between;

  @include responsive(-md) {
    flex-direction: column;
    height: auto;
    min-height: 0;
    max-height: none;
  }

  .text-wrap {
    width: cols(4);
    flex-shrink: 0;
    position: relative;

    @include responsive(lg) {
      width: cols(5);
    }

    @include responsive(-md) {
      align-self: flex-start;
      width: cols(8);
      padding-bottom: 0;
    }

    @include responsive(-sm) {
      width: 100%;
    }
    
    .slide-wrap {
      position: relative;

      @include responsive(-md) {
        display: flex;
      }
    }

    .slide {
      position: absolute;
      bottom: 0;
      display: flex;
      flex-direction: column;
      align-items: flex-start;
      transition: none;
      opacity: 0;
      transform: translateX(5%);
      pointer-events: none;

      @include responsive(-md) { &.slide {
        width: 100%;
        top: 0;
        bottom: auto;
        height: 0;
      }}

      &.current {
        transform: none;
        opacity: 1;
        pointer-events: all;
        z-index: 0;
        transition:
          transform 1s ease-out .125s,
          opacity 1s ease-in-out .125s;
      }

      &.out {
        transform: translateX(-5%);
        opacity: 0;
        transition:
          transform .5s ease-out,
          opacity .5s ease-in-out;
      }
    }

    .title {
      @include text-h2;
      margin-bottom: 16px;
    }

    .btn {
      margin-top: 40px;
    }
  }

  .img-wrap {

    img {
      --transform-duration: 15s;
      position: absolute;
      z-index: -1;
      top: 0; left: 0;
      width: 107%; height: 100%;
      object-fit: cover;
      object-position: left center;
      max-width: none;
      transition:
        transform 0s ease-out 1s,
        opacity 1s ease-in-out 1s;
      opacity: 0;

      &.current {
        transform: translateX(-6%);
        opacity: 1;
        z-index: 0;
        transition:
          transform var(--transform-duration) ease-out,
          opacity 1s ease-in-out;
      }

      &.out {
        transform: translateX(-6%);
        opacity: 0;
        transition:
          transform var(--transform-duration) ease-out,
          opacity 1s ease-in-out;
      }
    }
  }

  &.mod--single,
  &.mod--hero-product {

    .img-wrap {

      @include responsive(-sm) {
        margin-bottom: 24px;
      }
    }
  }
}