.mod.mod--image-text {
  position: relative;
  display: flex;
  justify-content: space-between;

  .image-wrap {
    position: relative;
    z-index: 1;
    width: cols(7);
    display: flex;
    flex-direction: column;
    overflow: visible;
    position: relative;
    height: calc(100% + var(--grid-diff));

    img {
      object-fit: cover;
      height: 100%;

      &:not(:only-child):first-child {
        height: cols(6);
        width: cols(5);
      }

      &:nth-child(2) {
        width: cols(3);
        height: cols(3.5);
        align-self: flex-end;
        margin-top: cols(-3);
      }
    }
  }

  .text-wrap {
    width: cols(4);

    .pretitle {
      @include text-body-1-bold;
      margin-bottom: .667em;
      color: $color-blue;
    }

    .title {
      @include text-h3;
      margin-bottom: .5em;
      color: $color-blue;
    }

    a {
      margin-top: 24px;
    }
  }

  svg {
    position: absolute;
    z-index: -1;
    bottom: 0;
    left: calc(-1 * var(--grid-diff));
    right: calc(-1 * var(--grid-diff));
    width: calc(100% + 2 * var(--grid-diff));
    opacity: .5;
  }

  @include responsive(md-) {
    &.mod--text-left {
      flex-direction: row-reverse;

      .image-wrap {

        img {
          object-fit: cover;
    
          &:not(:only-child):first-child {
            align-self: flex-end;
          }
    
          &:nth-child(2) {
            align-self: flex-start;
          }
        }
      }
    }
  }

  &.mod--single-image {
    align-items: center;

    .image-wrap {
      height: cols(7);
      position: relative;
      margin-left: calc(-1 * var(--grid-diff));

      img:only-child {
        @extend %stretch;
        max-width: none !important;
        width: calc(100% + var(--grid-diff));
      }
    }

    &.mod--landscape {

      .image-wrap {
        height: cols(4);

        @include responsive(-sm) {
          height: cols(6);
        }
      }

      .text-wrap {

        .title {
          @include text-h4;
        }
      }
    }
  }

  &.mod--boxed {
    background: $color-blue;
    padding: 120px var(--grid-diff);
    margin-left: calc(-1 * var(--grid-diff));
    margin-right: calc(-1 * var(--grid-diff));

    .text-wrap * {
      color: $color-white;
    }

    svg {
      left: 0;
      width: 100%;
      z-index: 0;
      opacity: 1;
      height: 240px;
      mix-blend-mode: multiply;

      g {
        opacity: .1;
      }
    }

    @include responsive(lg) {
      padding-top: 80px;
      padding-bottom: 80px;
    }

    @include responsive(md) {
      padding-top: 60px;
      padding-bottom: 60px;
    }

    @include responsive(-sm) {
      padding-top: 40px;
      padding-bottom: 40px;
    }

    &.mod--boxed-image {
      background-color: rgba($color-black, .4);

      & > img {
        @extend %stretch;
        height: 100%; width: 100%;
        object-fit: cover;
        object-position: center;
        z-index: -1;
      }

      svg {
        opacity: .5;
        mix-blend-mode: normal;

        path {
          fill: $color-white;
        }
      }
    }

    @media (min-width: 1601px) {

      &.mod--full-width {
        margin-left: calc(-1 * var(--screen-diff));
        margin-right: calc(-1 * var(--screen-diff));
        padding-left: var(--screen-diff);
        padding-right: var(--screen-diff);
      }
    }
    
    &.mod--boxed-image.mod--full-height {
      min-height: 100vh;
      align-items: center;
    }
  }

  @include responsive(-sm) {
    flex-direction: column-reverse;

    .text-wrap {
      width: 100%;
      margin-bottom: 32px;
    }

    .image-wrap {
      width: 100vw;
      margin: 0 calc(-1 * var(--grid-diff));

      img:not(:only-child):first-child {
        width: cols(10);
        height: cols(9);
      }

      img:nth-child(2) {
        width: cols(7);
        height: cols(7);
        margin-top: cols(-8)
      }
    }

    svg {
      height: 120px !important;
    }

    &.mod--single-image {

      .image-wrap {
        height: cols(12);

        img {
          height: 100%;
        }
      }
    }
  }
}