.mod.mod--map {
  position: relative;
  @extend .mod--outer-gradient-cut;

  .slider {
    @extend %hide-scrollbars;
    display: flex;
    flex-wrap: nowrap;
    overflow: auto;
    margin: 0 calc(-1 * var(--grid-diff)) 64px;
    padding: 0 var(--grid-diff);
  }
  
  .item {
    position: relative;
    flex-shrink: 0;
    width: cols(3);
    padding-right: cols(1.001);
    padding-top: 48px;
    margin: 0 var(--half-gutter);

    @include responsive(lg) {
      width: cols(4);
    }
    
    @include responsive(md) {
      width: cols(5);
    }

    .wrap {
      position: relative;
      width: cols(2);
      transition: opacity .5s ease-in-out;
      padding-bottom: 40px;
      height: 100%;

      @include responsive(lg) {
        width: cols(3);
      }

      @include responsive(md) {
        width: cols(4);
      }

      &::after {
        content: '';
        position: absolute;
        left: 0;
        bottom: 0;
        height: 1px;
        background: $color-blue;
        width: 100%;
        transition: opacity .5s ease-in-out;
        opacity: 0;
      }
    }

    .title {
      font-weight: 650;
      color: $color-blue;
      margin-bottom: 16px;
    }

    p {
      @include text-body-2;
      color: $color-blue;
    }

    .btn {
      margin-top: 16px;
    }

    &::before {
      content: '';
      position: absolute;
      left: 0;
      bottom: 0;
      height: 1px;
      background: $color-blue;
      width: calc(100% + var(--gutter-width));
      opacity: .1;
    }

    &:first-child {
      margin-left: 0;
    }

    &:last-child {
      margin-right: 0;
    }
  }

  &.selected {

    .slider .item:not(.selected) .wrap {
      opacity: .3;
    }

    .item.selected .wrap::after {
      opacity: 1;
    }
  }

  .map-wrap {
    position: relative;
    display: flex;
    width: 100%;

    .map-wrap-inner {
      position: relative;
      display: flex;
      width: 100%;
    }

    @include responsive(-sm) {
      margin-left: calc(-1 * var(--side-margin));
      margin-right: calc(-1 * var(--side-margin));
      padding-left: var(--side-margin);
      padding-right: var(--side-margin);
      width: 100vw;
      overflow-x: auto;
      overflow-y: hidden;
      -ms-overflow-style: none;
      scrollbar-width: none;
      
      .map-wrap-inner {
        width: auto;
      }

      &::-webkit-scrollbar {
        display: none;
      }
    
      img {
        min-width: 612px;
        height: auto;
        object-fit: unset;
      }
    }

    span {
      position: absolute;
      display: block;
      mix-blend-mode: multiply;
      width: 32px;
      height: 32px;
      background: transparent;
      border-radius: 999px;
      margin: -16px 0 0 -16px;
      cursor: pointer;

      &.selected {
        &::after {
          background: $color-blue;
        }

        &::before {
          background: $color-blue;
          transform: scale(3);
        }
      }

      html.hasHover &:hover::before,
      &.hover::before {
        transform: scale(3);
      }

      &::before,
      &::after {
        content: '';
        position: absolute;
        top: 50%; left: 50%;
        width: 12px; height: 12px;
        margin: -6px 0 0 -6px;
        background: $color-yellow;
        border-radius: 999px;
        pointer-events: none;
      }

      &::before {
        opacity: .2;
        transform: none;
        transition:
          transform .25s ease-out,
          background .125s ease-in-out;
      }

      &::after {
        background-color: $color-yellow;
        transition: background .125s ease-in-out;
      }
    }
  }

  .select-wrap {
    display: none;
    padding-top: 24px;
    width: 100%;
    border-bottom: 1px solid $color-blue;
    margin-bottom: 24px;
  }

  .item-wrap {
    display: none;
    flex-direction: column;

    .main {
      transition:
        height .125s ease-out,
        opacity .25s ease-out;

      &.changing {
        opacity: 0;
      }
    }

    .clone {
      position: absolute;
      opacity: 0;
      pointer-events: none;
    }

    .item {
      width: 100%;
      padding: 0;

      .wrap {
        width: 100%;
      }

      .title {
        display: none;
      }

      &::before,
      .wrap::after {
        display: none;
      }
    }
  }

  @include responsive(-sm) {

    .select-wrap,
    .item-wrap {
      display: flex;
    }

    .pagination {
      display: none;
    }

    .slider {
      display: none;
    }

    .map-wrap-inner {
      background: url('../../vector/map-smartphone.svg');
      background-size: cover;

      img {
        opacity: 0;
      }
    }
  }
}