.mod.mod--nav-subsection {
  position: relative;

  .mod-header {
    display: flex;
    align-items: center;
    justify-content: space-between;
    color: $color-blue;
    margin-bottom: 48px;

    @include responsive(md) {
      margin-bottom: 32px;
    }

    @include responsive(-sm) {
      margin-bottom: 24px;
    }

    .title {
      @include text-h5;
    }
  }

  .slider {
    display: flex;
    margin-left: calc(-1 * var(--grid-diff));
    margin-right: calc(-1 * var(--grid-diff));
    padding-left: calc(1 * var(--grid-diff));
    padding-right: calc(1 * var(--grid-diff));
    overflow: auto;
    @extend %hide-scrollbars;

    & > * {
      flex-shrink: 0;
      width: cols(3);
      height: cols(3);
      margin: 0 var(--half-gutter);
      position: relative;

      &:first-child {
        margin-left: 0;
      }

      &:last-child {
        margin-right: 0;
      }

      img {
        position: absolute;
        top: 0; left: 0;
        width: 100%; height: 100%;
        object-fit: cover;
        object-position: center;
      }

      .img-wrap {
        @extend %stretch;

        &::before {
          content: '';
          @extend %stretch;
          z-index: 1;
          background: $color-black;
          opacity: .3;
          transition: opacity .25s ease-in-out;
        }

        &::after {
          content: '';
          position: absolute;
          top: 40%; left: 0;
          width: 100%; height: 100%;
          z-index: 1;
          -webkit-backdrop-filter: blur(20px);
          backdrop-filter: blur(20px);
          background-color: rgba($color-blue, .6);
          transition: top .25s ease-in-out;
          clip-path: polygon(
            100% 100%,
            0% 100%,
            0% 61.09%,
            6.91% 61.25%,
            13.19% 61.7%,
            18.9% 62.4%,
            24.11% 63.31%,
            28.88% 64.38%,
            33.25% 65.58%,
            37.3% 66.87%,
            41.09% 68.19%,
            44.66% 69.52%,
            48.09% 70.8%,
            51.43% 72%,
            54.74% 73.08%,
            58.08% 73.98%,
            61.51% 74.68%,
            65.09% 75.13%,
            68.89% 75.29%,
            70.99% 75.28%,
            73.18% 75.22%,
            75.44% 75.13%,
            77.74% 75%,
            80.07% 74.84%,
            82.39% 74.64%,
            84.69% 74.41%,
            86.93% 74.15%,
            89.09% 73.86%,
            91.16% 73.55%,
            93.09% 73.2%,
            94.87% 72.83%,
            96.48% 72.43%,
            97.89% 72.01%,
            99.07% 71.56%,
            100% 71.09%
          )
        }

        html.hasHover &:hover {

          &::before {
            opacity: .45;
          }

          &::after {
            top: 0;
          }
        }
      }

      .text-wrap {
        position: relative;
        height: 100%;
        z-index: 2;
        pointer-events: none;
        padding: 32px;
        display: flex;
        flex-direction: column;
        align-items: flex-start;
        justify-content: space-between;
        color: $color-white;
        
        .title {
          font-weight: 650;
        }

        .btn {
          color: $color-white;
        }
      }
    }
  }

  @extend .mod--outer-gradient-cut;

  @include responsive(md-lg) {

    .slider > * {
      width: cols(4);
      height: cols(4);
    }
  }

  @include responsive(-sm) {

    .pagination {
      display: none !important;
    }

    .slider > * {
      width: cols(5);
      height: cols(5);

      .text-wrap {
        padding: var(--side-margin);
      }
    }
  }

  @include responsive(xs) {

    .slider > * {
      width: cols(8);
      height: cols(8);
    }
  }
}