.mod.mod--nav-category {
  @extend .mod--outer-gradient-cut;
  position: relative;

  .mod-header {
    width: cols(6);
    align-self: flex-start;
    margin-bottom: 48px;

    .title {
      @include text-h5;
      color: $color-blue;
      margin-bottom: 32px;
    }
    
    @include responsive(lg) {
      margin-bottom: 40px;
    }

    @include responsive(md) {
      width: cols(8);
      margin-bottom: 32px;
    }

    @include responsive(-sm) {
      width: 100%;
      margin-bottom: 24px;
    }
  }

  .pills-wrap {
    margin-left: calc(-1 * var(--grid-diff));
    margin-right: calc(-1 * var(--grid-diff));  
  }

  .pills {
    padding-left: var(--grid-diff);
    padding-right: var(--grid-diff);
  }
}