.mod.mod--text-scrolling {
  position: relative;
  overflow: hidden;
  margin-left: calc(-1 * var(--grid-diff));
  margin-right: calc(-1 * var(--grid-diff));
  color: rgba($color-blue, .2);
  // -webkit-text-stroke: .66px $color-blue;
  // -webkit-text-fill-color: $color-white;
  white-space: nowrap;
  display: flex;
  flex-direction: column;
  align-items: center;
  padding: 80px 0;

  p {
    padding-bottom: .1em;
    transform: translate3d(0, 0, 0);
    position: relative;
    z-index: 1;

    span {
      // -webkit-text-stroke: 0;
      // -webkit-text-fill-color: $color-blue;
      color: $color-blue;
    }

    &:nth-of-type(1):not(:only-of-type) {
      margin-left: 5em;

      @include responsive(-lg) {
        margin-left: 33vw;
      }
    }

    &:nth-of-type(2) {
      margin-top: 16px;
      margin-right: 5em;

      @include responsive(-lg) {
        margin-right: 33vw;
      }
    }
  }

  svg {
    position: absolute;
    bottom: 0;
    width: 100%;
    max-height: 100%;
  }

  &.mod--large {
    @include text-h0;
    // -webkit-text-stroke: 1px $color-blue;
  }

  &:not(.mod--large) {
    @include text-h3;
  }

  &:not(.mod--boxed):not(.mod--semiboxed) {
    @extend .mod--inner-gradient-cut;
  }

  &.mod--boxed {
    background: $color-blue;
    color: rgba($color-white, .2);
    // -webkit-text-stroke: .66px $color-white;
    // -webkit-text-fill-color: $color-blue;

    p span {
      -webkit-text-fill-color: $color-white;
    }

    svg {
      mix-blend-mode: multiply;    
      z-index: 1;
    }

    path {
      mix-blend-mode: multiply;
      opacity: .1;
    }

    &.mod--boxed-image {
      background-color: rgba($color-black, .4);
      color: rgba($color-white, .2);
      // -webkit-text-fill-color: transparent;

      & > img {
        @extend %stretch;
        height: 100%; width: 100%;
        object-fit: cover;
        object-position: center;
        z-index: -2;
      }
    }
  }

  &.mod--semiboxed {
    padding-bottom: 600px;

    @include responsive(lg) {
      padding-bottom: 400px;
    }

    @include responsive(md) {
      padding-bottom: 500px;
    }

    @include responsive(-sm) {
      padding-bottom: 300px;
    }

    img {
      position: absolute;
      top: calc(80px + 1.5em);
      height: calc(100% - 80px - 1.5em);
      left: 0; width: 100%;
      object-fit: cover;
      object-position: center;
    }

    p:nth-of-type(2) {
      margin-top: 32px;
      color: rgba($color-white, .2);
      // -webkit-text-stroke-color: $color-white;
      // -webkit-text-fill-color: transparent;

      span {
        -webkit-text-fill-color: $color-white;
      }
    }

    &.mod--large {

      img {
        top: calc(80px + 1.5em);
      }

      p:nth-of-type(2) {
        margin-top: 56px;
      }
    }

    &.mod--veiled {

      &::before {
        content: '';
        position: absolute;
        z-index: 0;
        top: calc(80px + 1.5em);
        bottom: 0;
        width: 100%;
        background: rgba($color-black, .4);
      }

      & > img {
        z-index: -2;
      }

      &.mod--veiled-gradient::before {
        @include smooth-gradient($color-black, bottom);
        opacity: .4;
      }
    }
  }

  &.mod--boxed-image,
  &.mod--semiboxed {

    svg {
      mix-blend-mode: normal;
      z-index: 100;
      opacity: 1 !important;

      path {
        fill: $color-white;
        mix-blend-mode: normal;
        opacity: .5;
      }
    }
  }

  @media (min-width: 1601px) {

    &.mod--full-width {
      margin-left: calc(-1 * var(--screen-diff));
      margin-right: calc(-1 * var(--screen-diff));

      &::before,
      &::after {
        display: none;
      }
    }
  }
}