%hide-scrollbars {
  -ms-overflow-style: none;
  scrollbar-width: none;

  &::-webkit-scrollbar {
    display: none;
  }
}

%logo-color-yellow {

}

%logo-color-blue {

}

%logo-mono-white {

  &::before {
    opacity: 0;
  }

  .inner::before {
    opacity: 1;
  }
}

%logo-mono-blue {

}

@mixin stretch {
  position: absolute;
  top: 0; left: 0; right: 0; bottom: 0;
}

%stretch {
  @include stretch;
}

%white-blur {
  background: rgba($color-white, .7);
  -webkit-backdrop-filter: blur(20px);
  backdrop-filter: blur(20px);  
}