.flex-spacer {
  flex-grow: 1;
}

.hidden {
  display: none !important;
}

.invisible {
  opacity: 0 !important;
  pointer-events: none !important;
}

.sm-only {
  @include responsive(md-) {
    display: none !important;
  }
}

.no-wrap {
  white-space: nowrap;
}

.img-wrap {
  position: relative;
  overflow: hidden;

  img:only-child {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    object-fit: cover;
    object-position: center;
  }
}

.img-wrap,
.image-wrap {
  
  &.contain img:only-child {
    object-fit: contain !important;
  }
}

.title-manual-wrap {
  display: flex;
  justify-content: center;
  padding-top: 150px;
  padding-bottom: 50px;

  h1 {
    @include text-h3;
  }
}

.stop-scrolling {
  height: 100%;
  overflow: hidden;
}

*.fade,
*.fade-up,
*.fade-down {
  &:not(.aos-init) {
    opacity: 0;
  }
}

//Aos library scroll fade effect
[data-aos="custom-fade-up"] {
  opacity: 0;
  transform: translatey(20px);
  transition-property: transform, opacity;

  &.aos-animate {
    opacity: 1;
    transform: translatey(0);
  }
}

[data-aos="custom-fade-down"] {
  opacity: 0;
  transform: translatey(-10px);
  transition-property: transform, opacity;

  &.aos-animate {
    opacity: 1;
    transform: translatey(0);
  }
}

[data-aos="custom-fade"] {
  opacity: 0;
  transition-property: opacity;

  &.aos-animate {
    opacity: 1;
  }
}

html:not(.htmlReady) *[data-diagonal-clip] {
  opacity: 0;
}

html.htmlReady *[data-diagonal-clip] {
  opacity: 1;
  transition: opacity .3s;
}