//
// Responsive
//

@mixin responsive($range) {
  $sizes: str-split($range, '-');
  $names: map-keys($grid-breakpoints);
  $values: map-values($grid-breakpoints);

  // Ensure 'from' and 'to' sizes
  @if length($sizes)==1 {
    $sizes: ($range $range);
  }

  $start-size: nth($sizes, 1);
  $end-size: nth($sizes, 2);

  @if $start-size=='' {
    $start-size: nth($names, 1);
  }

  @if $end-size=='' {
    $end-size: nth($names, -1);
  }

  $start-index: index($names, $start-size);
  $end-index: index($names, $end-size)+1;

  $start-value: nth($values, $start-index);
  $end-value: -1;

  @if $end-index <=length($values) {
    $end-value: nth($values, $end-index);
  }

  @if($start-value > 0) {
    @if($end-value !=-1) {
      @media (min-width: $start-value) and (max-width: ($end-value - 1px)) {
        @content;
      }
    }

    @else {
      @media (min-width: $start-value) {
        @content;
      }
    }
  }

  @else {
    @if($end-value !=-1) {
      @media (max-width: ($end-value - 1px)) {
        @content;
      }
    }

    @else {
      @media screen {
        @content;
      }
    }
  }
}



//
// Scrollbars
//

@mixin scrollbars($size, $foreground-color, $background-color: mix($foreground-color, white, 50%)) {

  // For Google Chrome
  &::-webkit-scrollbar {
    width: $size;
    height: $size;
  }

  &::-webkit-scrollbar-thumb {
    background: $foreground-color;
  }

  &::-webkit-scrollbar-track {
    background: $background-color;
  }

  & {
    scrollbar-width: thin;
  }
}



//
// Smooth gradient
//

@mixin smooth-gradient($color, $direction: right) {
  background: linear-gradient(
    to $direction,
    $color,
    rgba($color, 0.94505) 7.9%,
    rgba($color, 0.88294) 15.3%,
    rgba($color, 0.81522) 22.2%,
    rgba($color, 0.7426) 28.7%,
    rgba($color, 0.66692) 34.8%,
    rgba($color, 0.58891) 40.6%,
    rgba($color, 0.50925) 46.2%,
    rgba($color, 0.42866) 51.7%,
    rgba($color, 0.34817) 57.2%,
    rgba($color, 0.2693) 62.8%,
    rgba($color, 0.19309) 68.7%,
    rgba($color, 0.12126) 75.2%,
    rgba($color, 0.05882) 82.6%,
    rgba($color, 0.01457) 91.2%,
    rgba($color, 0)
  );  
}

@mixin white-text {
  color: $color-white;
  text-shadow: 1px 1px rgba($color-blue-dark, 25%);
}