//
// Color
//

// Corporate palette
$color-blue: #002169;
$color-yellow: #ffd100;
$color-grey: #c9c8c7;
$color-pink: #ec86d0;

// Neutral
$color-white: #ffffff;
$color-black: #000000;
$color-light: #f5f7fb;

// Other
$color-blue-dark: #3b4253;

// Product
$color-product-mineral: #76cdf1;
$color-product-orange: #ffa253;
$color-product-yellow: #ffd100;
$color-product-grapefruit: #e0708c;
$color-product-pomegranate: #e07066;



//
// Grid
//

$grid-columns: 12;
$grid-breakpoints: (
  xs: 0,
  sm: 576px,
  md: 768px,
  lg: 992px,
  xl: 1250px
);



//
// Icomoon
//

$icomoon-font-path: '../icons/fonts';