.container.container--wide
  nav.primary
    a.home-link(href="index.html") Volver a la home
      .solan-logo: .inner
    .nav-wrap.tt
      ul.main
        li: a(href="#") Agua mineral de manantial
        li.current-menu-parent: a(href="#") Productos
        li: a(href="#") Sostenibilidad
        li: a(href="#") Mundo Solán
      .flex-spacer
      ul.aside
        li
          .lang-selector(data-select-wrap)
            span.placeholder ES
            i.ri-arrow-down-s-line
            select
              option(value="es" data-label="ES" selected) Español
              option(value="en" data-label="EN") English
        li: a(href="#") Espacio SO+
    ul.store
      li: a(href="#"): i.ri-shopping-bag-line
      li: a(href="#"): i.ri-user-smile-line
    .menu-toggle
      span.open: i.ri-menu-line
      span.close: i.ri-close-fill
  if hasSecondaryNav
    nav.secondary
      ul.pills.pills--nowrap.drag-to-scroll
        li: a(href="#") Agua con gas
        li.current-menu-item: a(href="#") Agua mineral
        li: a(href="#") Aguas funcionales
        li: a(href="#") Agua con sabor
        li: a(href="#") Dispensador
        li: a(href="#") Ediciones especiales
        li: a(href="#") Ítem extra
        li: a(href="#") Ítem extra
        li: a(href="#") Ítem extra
        li: a(href="#") Ítem extra
        li: a(href="#") Ítem extra
        li: a(href="#") Ítem extra