.container.container--wide
  nav.primary
    a.home-link(href="index.html") Volver a la home
      .solan-logo: .inner
    .nav-wrap.tt
      ul.main
        li: a(href="#") AGUA MINERAL
        li.current-menu-parent: a(href="#") PRODUCTOS
        li: a(href="#") COMPAÑÍA
        li: a(href="#") SOSTENIBILIDAD
        li: a(href="#") MUNDO SOLÁN
        li: a(href="#") ESPACIO SO+
    .menu-toggle
      span.open: i.ri-menu-line
      span.close: i.ri-close-fill
  if hasSecondaryNav
    nav.secondary
      ul.pills.pills--nowrap.drag-to-scroll
        li: a(href="#") Agua con gas
        li.current-menu-item: a(href="#") Agua mineral
        li: a(href="#") Aguas funcionales
        li: a(href="#") Agua con sabor
        li: a(href="#") Dispensador
        li: a(href="#") Ediciones especiales
        li: a(href="#") Ítem extra
        li: a(href="#") Ítem extra
        li: a(href="#") Ítem extra
        li: a(href="#") Ítem extra
        li: a(href="#") Ítem extra
        li: a(href="#") Ítem extra