footer#footer {
	background: $color-blue;

	.pre-footer {
		background: $color-white;
		padding: 160px 0 56px;
		margin-bottom: 80px;
	}

	.footer-logos {
		display: flex;
		flex-wrap: wrap;
		align-items: center;
		justify-content: space-between;
		position: relative;

		.logo-wrap {
			font-size: 0;
			max-width: 96px;
			max-height: 64px;
			font-size: 0;
			position: relative;
			display: grid;
			align-items: center;
			
			img {
				filter: grayscale(1);
				transition: filter .5s ease;
			}

			&::after {
				content: '';
				position: absolute;
				top: 0; left: 0;
				width: 100%; height: 100%;
				background: $color-blue;
				mix-blend-mode: overlay;
				opacity: .25;
				transition: opacity .5s ease;
			}

			html.hasHover &:hover {

				img {
					filter: grayscale(0);
				}

				&::after {
					opacity: 0;
				}
			}
		}


		&[data-count="8"] {

			@include responsive(-lg) {
				margin-top: -16px;
				display: grid;
				grid-template-columns: repeat(4, 25%);
				justify-items: center;

				.logo-wrap {
					padding: 16px 0;
					box-sizing: content-box;
				}
			}

			@include responsive(-sm) {
				grid-template-columns: repeat(2, 50%);
			}
		}
	}

	a {
		transition:
			color .25s ease-in-out,
			opacity .25s ease-in-out;
	}

	html.hasHover & a:hover {
		color: $color-yellow !important;
		opacity: 1 !important;
	}

	.solan-logo {
		width: 100px; height: 85px;

		@include responsive(-lg) {
			width: 88px; height: 75px;
		}
	}

	.row {
		margin-bottom: 80px;
		
		&:nth-child(1) {

			.col {
				display: flex;
				align-items: flex-start;
				justify-content: space-between;
			}

			.social {
				display: flex;
				align-items: center;
				font-size: 0;

				a {
					display: block;
					color: $color-white;
					padding: 0 12px;
				}

				li:first-child a {
					padding-left: 0;
				}

				li:last-child a {
					padding-right: 0;
				}

				i {
					font-size: 24px;
				}
			}
		}

		&:nth-child(2) {

			@include responsive(-lg) {
				margin-top: -40px;
			}

			@include responsive(-sm) {
				margin-top: -16px;
			}

			.dropdown {
				@extend .col-xl;
				@extend .col-lg-4;
				@extend .col-md-4;
				@extend .col-12;

				@include responsive(-lg) {
					padding-top: 40px;
					padding-bottom: 40px;
				}

				@include responsive(-sm) {
					padding: 16px var(--half-gutter) !important;
				}

				&:first-child .list-header {
					padding-left: 0;
				}

				&:last-child {
					padding-right: 0;
				}

				a {
					color: $color-white;
					display: inline-block;
				}

				.list-header {
					margin-bottom: 24px;
				}

				.list-header,
				.list-header a,
				.list-header span {
					color: $color-white;
					font-weight: 700;
					font-size: 16px;
					line-height: 1.8;
				}

				.list-container {
					margin-top: -8px;

					a {
						font-size: 14px;
						opacity: .6;
						line-height: 1.6;
						padding: 8px 0;
					}
				}
			}

			@include responsive(-lg) {
				flex-wrap: wrap;
			}
		}

		&:nth-child(3) {
			margin-bottom: 0;
			padding-bottom: 80px;
			font-size: 14px;

			.col {
				display: flex;
				align-items: flex-end;
				justify-content: space-between;

				p.copyright {
					color: $color-white;
				}

				ul {
					display: flex;
					align-items: center;
					line-height: 1.6;

					li:first-child a  {
						padding-left: 0;
					}

					li:last-child a  {
						padding-right: 0;
					}
		
					@include responsive(-sm) {
						flex-direction: column;
						align-items: flex-start;

						li a {
							padding: 8px 0;
						}
					}	
				}

				a {
					display: block;
					padding: 0 12px;
					color: $color-white;
					opacity: .6;
				}
			}

			@include responsive(-lg) {
				
				.col {
					align-items: flex-start;
					flex-direction: column;
				}

				.copyright {
					margin-bottom: 24px;
				}
			}
		}
	}
}