:root  {
  --header-height: 180px;
}

header#header {
  position: absolute;
  z-index: 1;
  top: 0; left: 0;
  width: 100%;

  transition:
    transform .5s ease,
    background .5s ease;

  html.scrolledToTop &  {
    transition: background .5s ease;
  }

  html.navFixed & {
    position: fixed; z-index: 1000;
    top: calc(-1 * var(--header-height));
    background: $color-white;
  }

  html.navFixed.navVisible & {
    transform: translateY(100%);
  }

  .nav-wrap {
    display: flex;
    align-items: center;
    justify-content: space-between;
    width: 100%;
  }

	nav {
    
    &.primary {
      height: 120px;
      display: flex;
      align-items: center;

      a, .lang-selector {
        transition:
          opacity .25s ease-in-out,
          color .25s ease-in-out !important;
      }

      [class*="current"] a,
      .home-link {
        opacity: 1 !important;
      }

      html.hasHover &:hover {

        a, .lang-selector {

          &:not(:hover) {
            opacity: .5;
          }

          &:hover {
            color: $color-blue-dark;
          }
        }
      }

      @include responsive(xl) {
        padding: 0 var(--grid-diff);
      }

      @media (min-width: 1324px) {
        padding: 0 60px;
      }

      @include responsive(-lg) {
        padding: 0 var(--side-margin) !important;
      }

      ul {
        display: flex;
        align-items: center;
    
        &.main {
          margin-left: 64px;

          a {
            display: block;
            padding-top: 8px;
            padding-bottom: 8px;
          }
        }
    
        &.aside {
    
          a {
            display: block;
            padding-top: 8px;
            padding-bottom: 8px;
          }

          li:last-child a {
            padding-right: 16px;
          }
        }
    
        &.store {

          a {
            display: flex;
            align-items: center;
            font-size: 0;
            padding-top: 8px;
            padding-bottom: 8px;
          }

          i {
            font-size: 20px;
          }
    
          li:first-child a {
            padding-left: 16px;
          }
        }
    
        a {
          padding: 0 16px;
        }
    
        @include responsive(lg-) {
          li:first-child a {
            padding-left: 0;
          }
        }
    
        @include responsive(lg-) {

          li:last-child a {
            padding-right: 0;
          }
        }
      }

      a {
        font-size: 14px;
        text-transform: uppercase;
        letter-spacing: .05em;
      }

      [class*="current"] {
        position: relative;

        a {
          color: $color-blue-dark;
          font-weight: 650;
        }

        &::after {
          content: '';
          position: absolute;
          z-index: 1;
          top: -40px;
          left: 16px;
          right: 16px;
          height: 10px;
          background-color: $color-blue;
          border-radius: 0 0 12px 12px;
        }
      }
    }

    &.secondary {
      display: flex;
      align-items: center;
      height: 80px;
      margin-top: -20px;

      ul.pills {
        
        @include responsive(xl) {
          & > :first-child {
            margin-left: 60px;
          }

          & > :last-child {
            margin-right: 60px;
          }
        }

        @include responsive(-lg) {

          & > :first-child {
            margin-left: var(--side-margin);
          }

          & > :last-child {
            margin-right: var(--side-margin);
          }
        }
      }
    }
	}

	a {
    color: $color-blue;
    
    &.home-link {
		  font-size: 0 !important;
      line-height: 1;
	  }
  }

	.solan-logo {
		width: 80px;
		height: 68px;
	}

  .lang-selector {
    font-size: 14px;
    color: $color-blue;
    position: relative;
    display: flex;
    align-items: center;

    i {
      font-size: 20px;
      margin-left: 8px;
    }

    select {
      appearance: none;
      position: absolute;
      top: 0; left: 0;
      width: 100%; height: 100%;
      opacity: 0;
      cursor: pointer;
    }
  }

  .menu-toggle {
    cursor: pointer;
    margin-right: -16px;

    span {
      color: $color-blue;
      display: block;
      font-size: 0;
      padding: 8px 16px;

      html:not(.navExpanded) &.close {
        display: none;
      }

      html.navExpanded &.open {
        display: none;
      }
    }

    i {
      font-size: 20px;
    }
  }

  html.hasHover:not(.navFixed) body.header--negative & ul.pills li:not([class*="current"]) a:hover {
    border-color: rgba($color-white, .15) !important;
  }

  html.hasHover:not(.navFixed) body.header--negative & {

    nav.primary {

      a,
      .lang-selector {

        &:hover {
          color: $color-yellow;
        }
      }
    }
  }
  
  html:not(.navFixed) body.header--negative & {

    a {
      @include white-text;
    }    

    [class*="current"] {

      @include responsive(lg-) {

        &::after {
          background: $color-white;
        }
      }
    }

    nav.secondary .current-menu-item {

      a {
        border-color: $color-white !important;
      }
    }

    @include responsive(lg) {
      ul.aside {
        background: rgba($color-white, .07);
      }
    }

    .lang-selector,
    .menu-toggle span {
      @include white-text;
    }

    .solan-logo {
      @extend %logo-mono-white;
    }
  }

  @include responsive(lg) {

    .container--wide {
      padding-top: 24px !important;
    }

    nav.primary {
      height: 88px;

      ul.main {
        margin-left: 48px;

        [class*="current"]::after {
          top: -25px;
        }
      }
  
      ul.aside {
        position: absolute;
        line-height: 1;
        top: 0; left: 0;
        width: 100%;
        padding: 0 var(--side-margin);
        background: $color-white;
        justify-content: flex-end;

        html.navFixed & {
          background: rgba($color-blue-dark, .07);
        }

        a {
          padding-top: 4px;
          padding-bottom: 4px;
        }

        & > :last-child a {
          margin-right: -16px;
        }
      }
    }
  }

  @include responsive(lg-) {

    .menu-toggle {
      display: none;
    }
  }

  @include responsive(-md) {

    .solan-logo {
      width: 72px;
      height: 60px;

      html.navExpanded & {

      }
    }

    .nav-wrap {
      position: absolute;
      top: 0; left: 0;
      padding-top: 104px;
      align-items: flex-end;
      justify-content: space-between;
      background: $color-blue;
      overflow: hidden;
      transition:
        transform .35s ease-out,
        opacity .35s ease;

      html:not(.navExpanded) & {
        transform: translateY(-100%);
        // opacity: 0;
      }

      &::before {
        content: '';
        position: absolute;
        z-index: -1;
        top: 0; left: calc(-1 * var(--side-margin));
        width: 100vw; height: 100%;
        background: $color-blue;
      }

      &::after {
        content: '';
        width: 420px;
        height: 546px;
        background: url($theme-path + '/assets/vector/symbol-outline.svg') no-repeat scroll 0 0;
        background-size: 420px 546px;
        background-position: center;
        position: absolute;
        top: 120px;
        right: -80px;
        opacity: .1;
        pointer-events: none;
      }
    }

    nav.primary {
      align-items: center;
      justify-content: space-between;

      .home-link {
        position: relative;
        z-index: 1;

        html.navExpanded & .solan-logo {
          &::before {
            opacity: 0;
          }
        
          .inner::before {
            opacity: 1;
          }
        }
      }

      ul.store {
        position: relative;
        left: -32px;

        html.navExpanded & a {
          @include white-text;
        }
      }

      .flex-spacer {
        display: none !important;
      }

      .menu-toggle {
        position: absolute;
        right: var(--side-margin);
        line-height: 1;

        html.navExpanded & span {
          @include white-text;
        }
      }

      ul.main {
        position: relative;
        padding: 60px 0 92px 48px;
        flex-direction: column;
        align-items: flex-start;
        justify-content: flex-end;
        margin-left: 0;
        width: 50%;

        li a {
          padding: 20px 0;
          line-height: 1;
          opacity: .6;
          @include white-text;
        }

      }
      
      [class*="current"] a {
        @include white-text;
        opacity: 1 !important;
        font-weight: 500;
      }

      [class*="current"]::after {
        background: $color-yellow;
        width: 8px; height: 8px;
        border-radius: 999px;
        top: 50%; left: -24px;
        margin-top: -4px;
      }

      ul.aside {
        position: relative;
        width: 50%;
        padding: 60px var(--side-margin) 92px 48px;
        flex-direction: column;
        align-items: flex-end;

        li a {
          padding: 20px 0 !important;
          line-height: 1;
          @include white-text;
        }

        .lang-selector {
          padding: 20px 0;
          line-height: 14px;
          @include white-text;
        }
      }
    }
  }

  @include responsive(md) {

    nav.primary {
      height: 104px;
    }

    nav.secondary {
      margin-top: 0;
    }
  }

  @include responsive(-sm) {

    nav.primary {
      height: 88px;

      .nav-wrap {
        width: 100%;
        height: 100vh;
        flex-direction: column;
        align-items: stretch;
        justify-content: space-between;

        &::after {
          top: auto;
          bottom: -60px;
          right: -150px;
        }
  
        ul {
          width: 100%;
          align-items: flex-start;
        }
      }
    }

    nav.secondary {
      margin-top: 0;
    }
  }
}
