:root {
  --col-width: 78px;
  --wide-margin: 108px;
  --half-gutter: 12px;
  --gutter-width: calc(2 * var(--half-gutter));
  --side-margin: var(--half-gutter);
  --container-max-width: calc(1200px + 2 * var(--side-margin));
  --content-width: calc(12 * var(--col-width) + 22 * var(--half-gutter));
  --half-content-width: calc(6 * var(--col-width) + 11 * var(--half-gutter));
  --grid-diff: 200px;
  --screen-diff: calc(50vw - var(--half-content-width));

  @media (max-width: 1600px) {
    --grid-diff: calc(50vw - 600px);
    --screen-diff: var(--grid-diff);
  }

  @include responsive(-lg) {
    --grid-diff: var(--side-margin) !important;
    --col-width: calc((100vw - 2 * var(--side-margin) - 11 * var(--gutter-width)) / 12);
  }
  
  @include responsive(lg) {
    --side-margin: 32px;
  }

  @include responsive(md) {
    --half-gutter: 8px;
    --side-margin: 24px;
  }

  @include responsive(-sm) {
    --half-gutter: 8px;
    --side-margin: 24px;
  }
}

.container {
  position: relative;
  width: 100%;
  max-width: var(--container-max-width) !important;

  padding: {
    left: var(--side-margin);
    right: var(--side-margin);
  }

  &.container--wide {
    max-width: 1600px !important;
    padding: 0 !important;
    margin: 0 auto !important;
  }

  .row {
    margin: {
      left: calc(-1 * var(--half-gutter));
      right: calc(-1 * var(--half-gutter));
    }
  }

  .col,
  [class^="col-"],
  [class*=" col-"] {
    padding: {
      left: var(--half-gutter);
      right: var(--half-gutter);
    }

    img {
      max-width: 100%;
      height: auto;
    }
  }
}