extends html/templates/default

block vars
  - const htmlClasses = ''
  - const bodyClasses = ''
  - const hasSecondaryNav = false

block main

  .container
  
    section.mod.dev-dummy-hero.light.minimal

    style.
      .box {
        padding: 24px; display: flex; flex-direction: column; align-items: center; justify-content: center
      }
      .box > * {
        margin: 24px;
      }
      .box.dark {
        background: #002169;
      }

    section.mod
      div.box 
        a(href="#").btn: span .btn
        a(href="#").btn.btn--cta: span .btn.btn--cta
        a(href="#").btn.btn--link: span .btn.btn--link
      div.box.dark
        a(href="#").btn.btn--negative: span .btn.btn--negative
        a(href="#").btn.btn--cta.btn--negative: span .btn.btn--cta.btn--negative
        a(href="#").btn.btn--link.btn--negative: span .btn.btn--link.btn--negative