extends html/templates/default

block vars
  - const htmlClasses = ''
  - const bodyClasses = ''
  - const hasSecondaryNav = false

block main

  .container
  
    section.mod.dev-dummy-hero.light.minimal

    .dev-banner
      .base .mod
      .base .mod--image-text
      .modifier .mod--boxed
      .modifier .mod--full-width

    section.mod.mod--image-text.mod--boxed.mod--full-width
      .image-wrap
        img(src="assets/img/card.jpg" data-parallax="0,25")
        img(src="assets/img/nav-subsection.jpg" data-parallax="0,-25")
      .text-wrap
        p.pretitle El manantial
        h2.title Un manantial único.
        p Nuestra agua de manantial nace en un enclave privilegiado rodeado de bosques, visitado por reyes y elogiado desde hace siglos por sus bondades y propiedades.
        a.btn.btn--link(href="#"): span Descúbrela
      include assets/vector/decoration-waves-box-solid.svg

    .dev-banner
      .base .mod
      .base .mod--image-text
      .modifier .mod--text-left
      .modifier .mod--boxed
      .modifier .mod--full-width

    section.mod.mod--image-text.mod--text-left.mod--boxed.mod--full-width
      .image-wrap
        img(src="assets/img/card.jpg" data-parallax="0,25")
        img(src="assets/img/nav-subsection.jpg" data-parallax="0,-25")
      .text-wrap
        p.pretitle El manantial
        h2.title Un manantial único.
        p Nuestra agua de manantial nace en un enclave privilegiado rodeado de bosques, visitado por reyes y elogiado desde hace siglos por sus bondades y propiedades.
        a.btn.btn--link(href="#"): span Descúbrela
      include assets/vector/decoration-waves-box-solid.svg

    .dev-banner
      .base .mod
      .base .mod--image-text
      .modifier .mod--boxed
      .modifier .mod--boxed-image
      .modifier .mod--full-width

    section.mod.mod--image-text.mod--boxed.mod--boxed-image.mod--full-width
      img(src="assets/img/text-image-background.jpg")
      .image-wrap
        img(src="assets/img/card.jpg" data-parallax="0,25")
        img(src="assets/img/nav-subsection.jpg" data-parallax="0,-25")
      .text-wrap
        p.pretitle El manantial
        h2.title Un manantial único.
        p Nuestra agua de manantial nace en un enclave privilegiado rodeado de bosques, visitado por reyes y elogiado desde hace siglos por sus bondades y propiedades.
        a.btn.btn--link(href="#"): span Descúbrela
      include assets/vector/decoration-waves-box-line.svg

    .dev-banner
      .base .mod
      .base .mod--image-text
      .modifier .mod--boxed
      .modifier .mod--boxed-image
      .modifier .mod--full-height

    section.mod.mod--image-text.mod--boxed.mod--boxed-image.mod--full-height
      img(src="assets/img/text-image-background.jpg")
      .image-wrap
        img(src="assets/img/card.jpg" data-parallax="0,25")
        img(src="assets/img/nav-subsection.jpg" data-parallax="0,-25")
      .text-wrap
        p.pretitle El manantial
        h2.title Un manantial único.
        p Nuestra agua de manantial nace en un enclave privilegiado rodeado de bosques, visitado por reyes y elogiado desde hace siglos por sus bondades y propiedades.
        a.btn.btn--link(href="#"): span Descúbrela
      include assets/vector/decoration-waves-box-line.svg

    .dev-banner
      .base .mod
      .base .mod--image-text
      .modifier .mod--boxed
      .modifier .mod--boxed-image
      .modifier .mod--full-width
      .modifier .mod--full-height

    section.mod.mod--image-text.mod--boxed.mod--boxed-image.mod--full-width.mod--full-height
      img(src="assets/img/text-image-background.jpg")
      .image-wrap
        img(src="assets/img/card.jpg" data-parallax="0,25")
        img(src="assets/img/nav-subsection.jpg" data-parallax="0,-25")
      .text-wrap
        p.pretitle El manantial
        h2.title Un manantial único.
        p Nuestra agua de manantial nace en un enclave privilegiado rodeado de bosques, visitado por reyes y elogiado desde hace siglos por sus bondades y propiedades.
        a.btn.btn--link(href="#"): span Descúbrela
      include assets/vector/decoration-waves-box-line.svg

    .dev-banner
      .base .mod
      .base .mod--image-text
      .modifier .mod--text-left
      .modifier .mod--boxed
      .modifier .mod--boxed-image
      .modifier .mod--full-width

    section.mod.mod--image-text.mod--text-left.mod--boxed.mod--boxed-image.mod--full-width
      img(src="assets/img/text-image-background.jpg")
      .image-wrap
        img(src="assets/img/card.jpg" data-parallax="0,25")
        img(src="assets/img/nav-subsection.jpg" data-parallax="0,-25")
      .text-wrap
        p.pretitle El manantial
        h2.title Un manantial único.
        p Nuestra agua de manantial nace en un enclave privilegiado rodeado de bosques, visitado por reyes y elogiado desde hace siglos por sus bondades y propiedades.
        a.btn.btn--link(href="#"): span Descúbrela
      include assets/vector/decoration-waves-box-line.svg

    .dev-banner
      .base .mod
      .base .mod--image-text
      .modifier .mod--text-left
      .modifier .mod--boxed
      .modifier .mod--boxed-image
      .modifier .mod--full-height

    section.mod.mod--image-text.mod--text-left.mod--boxed.mod--boxed-image.mod--full-height
      img(src="assets/img/text-image-background.jpg")
      .image-wrap
        img(src="assets/img/card.jpg" data-parallax="0,25")
        img(src="assets/img/nav-subsection.jpg" data-parallax="0,-25")
      .text-wrap
        p.pretitle El manantial
        h2.title Un manantial único.
        p Nuestra agua de manantial nace en un enclave privilegiado rodeado de bosques, visitado por reyes y elogiado desde hace siglos por sus bondades y propiedades.
        a.btn.btn--link(href="#"): span Descúbrela
      include assets/vector/decoration-waves-box-line.svg

    .dev-banner
      .base .mod
      .base .mod--image-text
      .modifier .mod--text-left
      .modifier .mod--boxed
      .modifier .mod--boxed-image
      .modifier .mod--full-width
      .modifier .mod--full-height

    section.mod.mod--image-text.mod--text-left.mod--boxed.mod--boxed-image.mod--full-width.mod--full-height
      img(src="assets/img/text-image-background.jpg")
      .image-wrap
        img(src="assets/img/card.jpg" data-parallax="0,25")
        img(src="assets/img/nav-subsection.jpg" data-parallax="0,-25")
      .text-wrap
        p.pretitle El manantial
        h2.title Un manantial único.
        p Nuestra agua de manantial nace en un enclave privilegiado rodeado de bosques, visitado por reyes y elogiado desde hace siglos por sus bondades y propiedades.
        a.btn.btn--link(href="#"): span Descúbrela
      include assets/vector/decoration-waves-box-line.svg
