extends html/templates/default

block vars
  - const htmlClasses = ''
  - const bodyClasses = ''
  - const hasSecondaryNav = false

block main

  .container
  
    .dev-dummy-hero.light.minimal

    .dev-banner
      .base .mod
      .base .mod--full-image-text
      .modifier .mod--full-width

    section.mod.mod--full-image-text.mod--full-width
      .img-wrap
        img(src="assets/img/image-full.jpg")
      .card
        p.pretitle Antetítulo
        h2.title Dispensador
        p Nuestra agua de manantial nace en un enclave privilegiado rodeado de bosques, visitado por reyes y elogiado desde hace siglos por sus bondades y propiedades.
        a.btn.btn--link(href="#"): span Descúbrela

    .dev-banner
      .base .mod
      .base .mod--full-image-text
      .modifier .mod--full-height

    section.mod.mod--full-image-text.mod--full-height
      .img-wrap
        img(src="assets/img/image-full.jpg")
      .card
        p.pretitle Antetítulo
        h2.title Dispensador
        p Nuestra agua de manantial nace en un enclave privilegiado rodeado de bosques, visitado por reyes y elogiado desde hace siglos por sus bondades y propiedades.
        a.btn.btn--link(href="#"): span Descúbrela

    .dev-banner
      .base .mod
      .base .mod--full-image-text
      .modifier .mod--full-width
      .modifier .mod--full-height

    section.mod.mod--full-image-text.mod--full-width.mod--full-height
      .img-wrap
        img(src="assets/img/image-full.jpg")
      .card
        p.pretitle Antetítulo
        h2.title Dispensador
        p Nuestra agua de manantial nace en un enclave privilegiado rodeado de bosques, visitado por reyes y elogiado desde hace siglos por sus bondades y propiedades.
        a.btn.btn--link(href="#"): span Descúbrela

    .dev-banner
      .base .mod
      .base .mod--full-image-text
      .modifier .mod--card-right
      .modifier .mod--full-width

    section.mod.mod--full-image-text.mod--card-right.mod--full-width
      .img-wrap
        img(src="assets/img/image-full.jpg")
      .card
        p.pretitle Antetítulo
        h2.title Dispensador
        p Nuestra agua de manantial nace en un enclave privilegiado rodeado de bosques, visitado por reyes y elogiado desde hace siglos por sus bondades y propiedades.
        a.btn.btn--link(href="#"): span Descúbrela

    .dev-banner
      .base .mod
      .base .mod--full-image-text
      .modifier .mod--boxless
      .modifier .mod--full-width

    section.mod.mod--full-image-text.mod--boxless.mod--full-width
      .img-wrap
        img(src="assets/img/image-full.jpg")
      .card
        p.pretitle Antetítulo
        h2.title Dispensador
        p Nuestra agua de manantial nace en un enclave privilegiado rodeado de bosques, visitado por reyes y elogiado desde hace siglos por sus bondades y propiedades.
        a.btn.btn--link(href="#"): span Descúbrela

    .dev-banner
      .base .mod
      .base .mod--full-image-text
      .modifier .mod--card-right
      .modifier .mod--boxless
      .modifier .mod--full-width

    section.mod.mod--full-image-text.mod--card-right.mod--boxless.mod--full-width
      .img-wrap
        img(src="assets/img/image-full.jpg")
      .card
        p.pretitle Antetítulo
        h2.title Dispensador
        p Nuestra agua de manantial nace en un enclave privilegiado rodeado de bosques, visitado por reyes y elogiado desde hace siglos por sus bondades y propiedades.
        a.btn.btn--link(href="#"): span Descúbrela                