extends html/templates/default

block vars
  - const htmlClasses = ''
  - const bodyClasses = ''
  - const hasSecondaryNav = false

block main

  .container
  
    .dev-dummy-hero.light.minimal

    .dev-banner
      .base .mod
      .base .text-editor
      .modifier .mod--full-width

    section.mod.text-editor.mod--full-width
      .video-embed(data-youtube-id="_MbQst_G1bI")
        img(src="assets/img/image-full.jpg")
        .iframe-placeholder

    .dev-banner
      .base .mod
      .base .text-editor
      .modifier .mod--full-height

    section.mod.text-editor.mod--full-height
      .video-embed(data-youtube-id="_MbQst_G1bI")
        img(src="assets/img/image-full.jpg")
        .iframe-placeholder

    .dev-banner
      .base .mod
      .base .text-editor
      .modifier .mod--full-height
      .modifier .mod--full-width

    section.mod.text-editor.mod--full-height.mod--full-width
      .video-embed(data-youtube-id="_MbQst_G1bI")
        img(src="assets/img/image-full.jpg")
        .iframe-placeholder        