extends html/templates/default

block vars
  - const htmlClasses = ''
  - const bodyClasses = ''
  - const hasSecondaryNav = false

block main

  .container
  
    section.mod.mod--hero.mod--hero-home.mod--single
      .img-wrap
        img(src="assets/img/hero-home-1.jpg").current
      .text-wrap
        .slide-wrap(data-autosize="height-max-child")
          .slide.current
            h1.title Un agua creada por la naturaleza
            p El &lt;h1&gt; debería ser único y solo usarse en la primera slide. Un agua mineral natural baja en sodio que llega tal y como brota del manantial, sin sufrir los efectos de la luz y sin variar su composición.
            a(href="#").btn.btn--cta: span Descúbrela

    .dev-banner.after
      .base .mod
      .base .mod--hero
      .base .mod--hero-home
      .modifier .mod--single

    section.mod.dev-dummy-hero.light