extends html/templates/default

block vars
  - const htmlClasses = ''
  - const bodyClasses = ''
  - const hasSecondaryNav = false

block main

  .container
  
    section.mod.mod--hero.mod--hero-product(data-theme="grapefruit")
      .img-wrap
        span defence
        .image-shadow
          img(src="assets/img/hero-product-2.png").current
      .text-wrap
        .slide-wrap(data-autosize="height-max-child")
          .slide.current
            h1.title Defence
            p Naturalidad y equilibrio
            a(href="#").btn.btn--cta: span Comprar

    .dev-banner.after
      .base .mod
      .base .mod--hero
      .base .mod--hero-product
      .modifier [data-theme="grapefruit"]

    section.mod.dev-dummy-hero.light