extends html/templates/default

block vars
  - const htmlClasses = ''
  - const bodyClasses = 'header--negative'
  - const hasSecondaryNav = false

block main

  .container
  
    section.mod.mod--hero.mod--hero-section.dots-target
      .img-wrap
        img(src="assets/img/hero-section-1.jpg")
        img(src="assets/img/hero-section-2.jpg")
        img(src="assets/img/hero-section-3.jpg")
      .text-wrap
        .slide-wrap(data-autosize="height-max-child")
          .slide
            h1.title Un agua creada por la naturaleza
            p El &lt;h1&gt; debería ser único y solo usarse en la primera slide. Un agua mineral natural baja en sodio que llega tal y como brota del manantial, sin sufrir los efectos de la luz y sin variar su composición.
            a(href="#").btn.btn--cta: span Descúbrela
          .slide
            h2.title Segunda slide
            p Praesent accumsan ligula ornare tortor laoreet, quis iaculis velit dapibus. Maecenas ultricies consequat quam. Maecenas auctor risus a facilisis convallis.
            a(href="#").btn.btn--cta: span Descúbrela
          .slide
            h2.title Tercera slide con un título más largo
            p Sed porta mollis posuere. Nullam ut euismod felis. Sed congue accumsan ante, ac varius arcu congue eu. Ut scelerisque dignissim nisi, ut ullamcorper urna convallis non. Morbi nec sem ut urna condimentum egestas. Proin nibh nunc, volutpat sit amet risus quis, egestas fringilla eros.
            a(href="#").btn.btn--cta: span Descúbrela
        ul.dots(data-count="3" data-duration="10,5,10")

    .dev-banner.after
      .base .mod
      .base .mod--hero
      .base .mod--hero-section
      .modifier .dots-target

    section.mod.dev-dummy-hero.light
