extends html/templates/default

block vars
  - const htmlClasses = ''
  - const bodyClasses = 'dev-home'
  - const hasSecondaryNav = false

block main

  .container
  
    h1 Header y footer
    ul
      li: a(href="header--primary-positive.html") Navegación principal, positiva
      li: a(href="header--primary-negative.html") Navegación principal, negativa
      li: a(href="header--secondary-positive.html") Navegación secundaria, positiva
      li: a(href="header--secondary-negative.html") Navegación secundaria, negativa

    h1 Componentes
    ul
      li: a(href="component--button.html") Botones

    h1 Heros
    ul
      li: a(href="hero--home-slider.html") Home slider
      li: a(href="hero--home-single.html") Home single
      li: a(href="hero--post.html") Post
      li: a(href="hero--post-no-picture.html") Post (no picture)
      li: a(href="hero--product-1.html") Product #1
      li: a(href="hero--product-2.html") Product #2
      li: a(href="hero--section-slider.html") Section slider
      li: a(href="hero--section-single.html") Section single
      li: a(href="hero--subsection-slider.html") Subsection slider
      li: a(href="hero--subsection-single.html") Subsection single

    h1 Módulos
    ul
      li: a(href="module--cards-horizontal.html") Cards - Horizontal + Pagination
      li: a(href="module--cards-product.html") Cards - Product
      li: a(href="module--cards-slider.html") Cards - Slider
      li: a(href="module--cards-vertical.html") Cards - Vertical
      li: a(href="module--cards-grid.html") Cards - Vertical (Grid)
      li: a(href="module--full-image-text.html") Full image + Text
      li: a(href="module--grid.html") Grid
      li: a(href="module--image.html") Image
      li: a(href="module--image-text.html") Image + Text
      li: a(href="module--map.html") Map
      li: a(href="module--nav-category.html") Nav Category
      li: a(href="module--nav-subsection.html") Nav Subsection
      li: a(href="module--text-scrolling.html") Text Scrolling
      li: a(href="module--video.html") Vídeo
      li: a(href="module--wysiwyg.html") Wysiwyg + Share

    h1 Modificadores fullscreen
    ul
      li: a(href="fullscreen--full-image-text.html") Full image + text
      li: a(href="fullscreen--image-text.html") Image + text
      li: a(href="fullscreen--text-scrolling.html") Text Scrolling
      li: a(href="fullscreen--video.html") Video

    h1 Otros modificadores
    ul
      li: a(href="modifiers--spacing.html") Modificadores de espaciado