extends html/templates/default

block vars
  - const htmlClasses = ''
  - const bodyClasses = ''
  - const hasSecondaryNav = false

block main

  .container
  
    section.mod.dev-dummy-hero.light.minimal

    section.mod.mod--grid(style="outline: 1px solid rgba(0, 50, 160, .25)")
      .mod-header(style="width: 100%; margin: 0 !important")
        h2.title(style="margin: 0 !important") Superior

    section.mod.mod--grid(style="outline: 1px solid rgba(0, 50, 160, .25)")
      .mod-header(style="width: 100%; margin: 0 !important")
        h2.title(style="margin: 0 !important") Sin modificador de espacio

    section.mod.mod--grid(style="outline: 1px solid rgba(0, 50, 160, .25)").mod--margin-sm
      .mod-header(style="width: 100%; margin: 0 !important")
        h2.title(style="margin: 0 !important") .mod--margin-sm

    section.mod.mod--grid(style="outline: 1px solid rgba(0, 50, 160, .25)").mod--margin-xs
      .mod-header(style="width: 100%; margin: 0 !important")
        h2.title(style="margin: 0 !important") .mod--margin-xs

    section.mod.mod--grid(style="outline: 1px solid rgba(0, 50, 160, .25)").mod--margin-none
      .mod-header(style="width: 100%; margin: 0 !important")
        h2.title(style="margin: 0 !important") .mod--margin-none

    section.mod.mod--grid(style="outline: 1px solid rgba(0, 50, 160, .25)").mod--margin-desktop-sm.mod--margin-tablet-xs.mod--margin-smartphone-none
      .mod-header(style="width: 100%; margin: 0 !important")
        h2.title(style="margin: 0 !important") .mod--margin-desktop-sm#[br].mod--margin-tablet-xs#[br].mod--margin-smartphone-none
