extends html/templates/default

block vars
  - const htmlClasses = ''
  - const bodyClasses = ''
  - const hasSecondaryNav = false

block main

  .container
  
    section.mod.dev-dummy-hero.light.minimal

    .dev-banner
      .base .mod
      .base .mod--cards-vertical
      .modifier .mod--boxed

    section.mod.mod--cards-vertical.mod--boxed
      .mod-header
        p.pretitle Sostenibilidad
        h2.title Nuestro compromiso con la sociedad y con la naturaleza
        p Nuestra agua de manantial nace en un enclave privilegiado rodeado de bosques, visitado por reyes y elogiado desde hace siglos por sus bondades y propiedades.
        a.btn.btn--link(href="#"): span Descubre todas nuestras acciones
      ul.card-container
        each i in [1, 2, 3, 4]
          li.card
            .img-wrap
              img(src="assets/img/card.jpg")
            .text-wrap
              p.pretitle Protección del medio ambiente
              h3.title Colaboración con WWF
              p Entrada destacada.
              a.btn.btn--link(href="#"): span Saber más
      include assets/vector/decoration-waves-box-solid.svg

    .dev-banner
      .base .mod
      .base .mod--cards-vertical
      .modifier .mod--boxed
      .modifier .mod--cards-left

    section.mod.mod--cards-vertical.mod--boxed.mod--cards-left
      .mod-header
        p.pretitle Sostenibilidad
        h2.title Nuestro compromiso con la sociedad y con la naturaleza
        p Nuestra agua de manantial nace en un enclave privilegiado rodeado de bosques, visitado por reyes y elogiado desde hace siglos por sus bondades y propiedades.
        a.btn.btn--link(href="#"): span Descubre todas nuestras acciones
      ul.card-container
        each i in [1, 2, 3, 4]
          li.card
            .img-wrap
              img(src="assets/img/card.jpg")
            .text-wrap
              p.pretitle Protección del medio ambiente
              h3.title Colaboración con WWF
              p Entrada destacada.
              a.btn.btn--link(href="#"): span Saber más
      include assets/vector/decoration-waves-box-solid.svg

    .dev-banner
      .base .mod
      .base .mod--cards-vertical

    section.mod.mod--cards-vertical
      .mod-header
        p.pretitle Sostenibilidad
        h2.title Nuestro compromiso con la sociedad y con la naturaleza
        p Nuestra agua de manantial nace en un enclave privilegiado rodeado de bosques, visitado por reyes y elogiado desde hace siglos por sus bondades y propiedades.
        a.btn.btn--link(href="#"): span Descubre todas nuestras acciones
      ul.card-container
        each i in [1, 2, 3, 4]
          li.card
            .img-wrap
              img(src="assets/img/card.jpg")
            .text-wrap
              p.pretitle Protección del medio ambiente
              h3.title Colaboración con WWF
              p Entrada destacada.
              a.btn.btn--link(href="#"): span Saber más
      include assets/vector/decoration-waves-box-line.svg

    .dev-banner
      .base .mod
      .base .mod--cards-vertical
      .modifier .mod--cards-left

    section.mod.mod--cards-vertical.mod--cards-left
      .mod-header
        p.pretitle Sostenibilidad
        h2.title Nuestro compromiso con la sociedad y con la naturaleza
        p Nuestra agua de manantial nace en un enclave privilegiado rodeado de bosques, visitado por reyes y elogiado desde hace siglos por sus bondades y propiedades.
        a.btn.btn--link(href="#"): span Descubre todas nuestras acciones
      ul.card-container
        each i in [1, 2, 3, 4]
          li.card
            .img-wrap
              img(src="assets/img/card.jpg")
            .text-wrap
              p.pretitle Protección del medio ambiente
              h3.title Colaboración con WWF
              p Entrada destacada.
              a.btn.btn--link(href="#"): span Saber más
      include assets/vector/decoration-waves-box-line.svg            