extends html/templates/default

block vars
  - const htmlClasses = ''
  - const bodyClasses = ''
  - const hasSecondaryNav = false

block main

  .container
  
    section.mod.dev-dummy-hero.light.minimal

    .dev-banner
      .base .mod
      .base .mod--image-text

    section.mod.mod--image-text
      .image-wrap
        img(src="assets/img/card.jpg" data-parallax="0,25")
        img(src="assets/img/nav-subsection.jpg" data-parallax="0,-25")
      .text-wrap
        p.pretitle El manantial
        h2.title Un manantial único.
        p Nuestra agua de manantial nace en un enclave privilegiado rodeado de bosques, visitado por reyes y elogiado desde hace siglos por sus bondades y propiedades.
        a.btn.btn--link(href="#"): span Descúbrela
      include assets/vector/decoration-waves-box-line.svg

    .dev-banner
      .base .mod
      .base .mod--image-text
      .modifier .mod--text-left

    section.mod.mod--image-text.mod--text-left
      .image-wrap
        img(src="assets/img/card.jpg" data-parallax="0,25")
        img(src="assets/img/nav-subsection.jpg" data-parallax="0,-25")
      .text-wrap
        p.pretitle El manantial
        h2.title Un manantial único.
        p Nuestra agua de manantial nace en un enclave privilegiado rodeado de bosques, visitado por reyes y elogiado desde hace siglos por sus bondades y propiedades.
        a.btn.btn--link(href="#"): span Descúbrela
      include assets/vector/decoration-waves-box-line.svg

    .dev-banner
      .base .mod
      .base .mod--image-text
      .modifier .mod--single-image
      .modifier
        span .text-wrap
        | .text-center

    section.mod.mod--image-text.mod--single-image
      .image-wrap
        img(src="assets/img/card.jpg")
      .text-wrap.text-center
        p.pretitle El manantial
        h2.title Un manantial único.
        p Nuestra agua de manantial nace en un enclave privilegiado rodeado de bosques, visitado por reyes y elogiado desde hace siglos por sus bondades y propiedades.
        a.btn.btn--link(href="#"): span Descúbrela
      include assets/vector/decoration-waves-box-line.svg

    .dev-banner
      .base .mod
      .base .mod--image-text
      .modifier .mod--text-left
      .modifier .mod--single-image
      .modifier
        span .image-wrap
        | .contain

    section.mod.mod--image-text.mod--text-left.mod--single-image
      .image-wrap.contain
        img(src="assets/img/image-contain.png")
      .text-wrap
        p.pretitle El manantial
        h2.title Un manantial único.
        p Nuestra agua de manantial nace en un enclave privilegiado rodeado de bosques, visitado por reyes y elogiado desde hace siglos por sus bondades y propiedades.
        a.btn.btn--link(href="#"): span Descúbrela
      include assets/vector/decoration-waves-box-line.svg

    .dev-banner
      .base .mod
      .base .mod--image-text
      .modifier .mod--single-image
      .modifier .mod--landscape

    section.mod.mod--image-text.mod--single-image.mod--landscape
      .image-wrap
        img(src="assets/img/card.jpg")
      .text-wrap
        h2.title Finalista Comunicación Responsable
        p Finalistas en los VII premios corresponsables en categoría “Comunicación Responsable” por campaña digital #GotasdeSolidaridad junto a la Asociación Española Contra el Cáncer.
      
    .dev-banner
      .base .mod
      .base .mod--image-text
      .modifier .mod--text-left
      .modifier .mod--single-image

    section.mod.mod--image-text.mod--text-left.mod--single-image
      .image-wrap
        img(src="assets/img/card.jpg")
      .text-wrap
        p.pretitle El manantial
        h2.title Un manantial único.
        p Nuestra agua de manantial nace en un enclave privilegiado rodeado de bosques, visitado por reyes y elogiado desde hace siglos por sus bondades y propiedades.
        a.btn.btn--link(href="#"): span Descúbrela
      include assets/vector/decoration-waves-box-line.svg

    .dev-banner
      .base .mod
      .base .mod--image-text
      .modifier .mod--boxed

    section.mod.mod--image-text.mod--boxed
      .image-wrap
        img(src="assets/img/card.jpg" data-parallax="0,25")
        img(src="assets/img/nav-subsection.jpg" data-parallax="0,-25")
      .text-wrap
        p.pretitle El manantial
        h2.title Un manantial único.
        p Nuestra agua de manantial nace en un enclave privilegiado rodeado de bosques, visitado por reyes y elogiado desde hace siglos por sus bondades y propiedades.
        a.btn.btn--link(href="#"): span Descúbrela
      include assets/vector/decoration-waves-box-solid.svg

    .dev-banner
      .base .mod
      .base .mod--image-text
      .modifier .mod--text-left
      .modifier .mod--boxed

    section.mod.mod--image-text.mod--text-left.mod--boxed
      .image-wrap
        img(src="assets/img/card.jpg" data-parallax="0,25")
        img(src="assets/img/nav-subsection.jpg" data-parallax="0,-25")
      .text-wrap
        p.pretitle El manantial
        h2.title Un manantial único.
        p Nuestra agua de manantial nace en un enclave privilegiado rodeado de bosques, visitado por reyes y elogiado desde hace siglos por sus bondades y propiedades.
        a.btn.btn--link(href="#"): span Descúbrela
      include assets/vector/decoration-waves-box-solid.svg

    .dev-banner
      .base .mod
      .base .mod--image-text
      .modifier .mod--boxed
      .modifier .mod--boxed-image

    section.mod.mod--image-text.mod--boxed.mod--boxed-image
      img(src="assets/img/text-image-background.jpg")
      .image-wrap
        img(src="assets/img/card.jpg" data-parallax="0,25")
        img(src="assets/img/nav-subsection.jpg" data-parallax="0,-25")
      .text-wrap
        p.pretitle El manantial
        h2.title Un manantial único.
        p Nuestra agua de manantial nace en un enclave privilegiado rodeado de bosques, visitado por reyes y elogiado desde hace siglos por sus bondades y propiedades.
        a.btn.btn--link(href="#"): span Descúbrela
      include assets/vector/decoration-waves-box-line.svg

    .dev-banner
      .base .mod
      .base .mod--image-text
      .modifier .mod--text-left
      .modifier .mod--boxed
      .modifier .mod--boxed-image

    section.mod.mod--image-text.mod--text-left.mod--boxed.mod--boxed-image
      img(src="assets/img/text-image-background.jpg")
      .image-wrap
        img(src="assets/img/card.jpg" data-parallax="0,25")
        img(src="assets/img/nav-subsection.jpg" data-parallax="0,-25")
      .text-wrap
        p.pretitle El manantial
        h2.title Un manantial único.
        p Nuestra agua de manantial nace en un enclave privilegiado rodeado de bosques, visitado por reyes y elogiado desde hace siglos por sus bondades y propiedades.
        a.btn.btn--link(href="#"): span Descúbrela
      include assets/vector/decoration-waves-box-line.svg
