extends html/templates/default

block vars
  - const htmlClasses = ''
  - const bodyClasses = ''
  - const hasSecondaryNav = false

block main

  .container
  
    section.mod.dev-dummy-hero.light.minimal

    .dev-banner
      .base .mod
      .base .mod--cards-product
      .modifier .mod--single

    section.mod.mod--cards-product.mod--single
      .mod-header
        p.pretitle Nuestras aguas
        h2.title Nuestra agua de manantial nace en un enclave privilegiado
        p Nuestra agua de manantial nace en un enclave privilegiado rodeado de bosques, visitado por reyes y elogiado desde hace siglos por sus bondades y propiedades.
        a.btn.btn--link(href="#"): span Descubre todas nuestras aguas
      ul.card-container
        li.card
          .image-shadow
            img(src="assets/img/bottle.png")
          h3.title Agua mineral
          p Un agua así solo la crea la naturaleza
          a.btn.btn--cta(href="#"): span Descúbrela
          include assets/vector/decoration-waves.svg

    .dev-banner
      .base .mod
      .base .mod--cards-product
      .modifier .mod--single
      .modifier .mod--card-right

    section.mod.mod--cards-product.mod--single.mod--card-right
      .mod-header
        h2.title Nuestra agua de manantial nace en un enclave privilegiado
      ul.card-container
        li.card
          .image-shadow
            img(src="assets/img/bottle.png")
          h3.title Agua mineral
          p Un agua así solo la crea la naturaleza
          a.btn.btn--cta(href="#"): span Descúbrela
          include assets/vector/decoration-waves.svg      

    .dev-banner
      .base .mod
      .base .mod--cards-product
      .modifier .mod--two-cols

    section.mod.mod--cards-product.mod--two-cols
      .header-wrap
        .mod-header
          p.pretitle Nuestras aguas
          h2.title Llegan a ti tal y como brotan del manantial.
          p Nuestra agua de manantial nace en un enclave privilegiado rodeado de bosques, visitado por reyes y elogiado desde hace siglos por sus bondades y propiedades.
          a.btn.btn--link(href="#"): span Descubre todas nuestras aguas
      ul.card-container
        li.card
          .image-shadow
            img(src="assets/img/bottle.png")
          h3.title Agua mineral
          p Un agua así solo la crea la naturaleza
          a.btn.btn--cta(href="#"): span Descúbrela
          include assets/vector/decoration-waves.svg
        li.card
          .image-shadow
            img(src="assets/img/bottle-2.png")
          h3.title Agua mineral, texto a dos líneas
          p Un agua así solo la crea la naturaleza
          a.btn.btn--cta(href="#"): span Descúbrela
          include assets/vector/decoration-waves.svg
        li.card
          .image-shadow
            img(src="assets/img/bottle-3.png")
          h3.title Agua mineral
          p Un agua así solo la crea la naturaleza
          a.btn.btn--cta(href="#"): span Descúbrela
          include assets/vector/decoration-waves.svg
        li.card
          .image-shadow
            img(src="assets/img/bottle-4.png")
          h3.title Agua mineral
          p Un agua así solo la crea la naturaleza
          a.btn.btn--cta(href="#"): span Descúbrela
          include assets/vector/decoration-waves.svg

    .dev-banner
      .base .mod
      .base .mod--cards-product
      .modifier .mod--three-cols

    section.mod.mod--cards-product.mod--three-cols
      .header-wrap
        .mod-header
          p.pretitle Nuestras aguas
          h2.title Llegan a ti tal y como brotan del manantial.
          p Nuestra agua de manantial nace en un enclave privilegiado rodeado de bosques, visitado por reyes y elogiado desde hace siglos por sus bondades y propiedades.
          a.btn.btn--link(href="#"): span Descubre todas nuestras aguas
      ul.card-container
        li.card
          .image-shadow
            img(src="assets/img/bottle.png")
          h3.title Agua mineral
          p Un agua así solo la crea la naturaleza. Texto se va a dos líneas.
          a.btn.btn--cta(href="#"): span Descúbrela
          include assets/vector/decoration-waves.svg
        li.card
          .image-shadow
            img(src="assets/img/bottle-2.png")
          h3.title Agua mineral
          p Un agua así solo la crea la naturaleza
          a.btn.btn--cta(href="#"): span Descúbrela
          include assets/vector/decoration-waves.svg
        li.card
          .image-shadow
            img(src="assets/img/bottle-3.png")
          h3.title Agua mineral
          p Un agua así solo la crea la naturaleza
          a.btn.btn--cta(href="#"): span Descúbrela
          include assets/vector/decoration-waves.svg
        li.card
          .image-shadow
            img(src="assets/img/bottle-4.png")
          h3.title Agua mineral
          p Un agua así solo la crea la naturaleza
          a.btn.btn--cta(href="#"): span Descúbrela
          include assets/vector/decoration-waves.svg
        li.card
          .image-shadow
            img(src="assets/img/bottle.png")
          h3.title Agua mineral
          p Un agua así solo la crea la naturaleza
          a.btn.btn--cta(href="#"): span Descúbrela
          include assets/vector/decoration-waves.svg
        li.card
          .image-shadow
            img(src="assets/img/bottle-2.png")
          h3.title Agua mineral
          p Un agua así solo la crea la naturaleza
          a.btn.btn--cta(href="#"): span Descúbrela
          include assets/vector/decoration-waves.svg

    .dev-banner
      .base .mod
      .base .mod--cards-product
      .modifier .mod--three-cols
      .modifier [data-theme="yellow"]
      .modifier
        span .card
        | [data-theme]

    section.mod.mod--cards-product.mod--three-cols(data-theme="yellow")
      .header-wrap
        .mod-header
          h2.title Theming
          a.btn.btn--link(href="#"): span Descubre todas nuestras aguas
      ul.card-container
        li.card(data-theme="mineral")
          .image-shadow
            img(src="assets/img/bottle.png")
          h3.title Mineral
          p Un agua así solo la crea la naturaleza. Texto se va a dos líneas.
          a.btn.btn--cta(href="#"): span Descúbrela
          include assets/vector/decoration-waves.svg
        li.card(data-theme="primary")
          .image-shadow
            img(src="assets/img/bottle-2.png")
          h3.title Primary
          p Heredado del módulo
          a.btn.btn--cta(href="#"): span Descúbrela
          include assets/vector/decoration-waves.svg
        li.card
          .image-shadow
            img(src="assets/img/bottle-3.png")
          h3.title Yellow
          p Heredado del módulo
          a.btn.btn--cta(href="#"): span Descúbrela
          include assets/vector/decoration-waves.svg
        li.card(data-theme="pomegranate")
          .image-shadow
            img(src="assets/img/bottle-4.png")
          h3.title Pomegranate
          p Un agua así solo la crea la naturaleza
          a.btn.btn--cta(href="#"): span Descúbrela
          include assets/vector/decoration-waves.svg
        li.card(data-theme="#ff0000")
          .image-shadow
            img(src="assets/img/bottle.png")
          h3.title #ff0000
          p Un agua así solo la crea la naturaleza
          a.btn.btn--cta(href="#"): span Descúbrela
          include assets/vector/decoration-waves.svg
        li.card(data-theme="#00ff00")
          .image-shadow
            img(src="assets/img/bottle-2.png")
          h3.title #00ff00
          p Un agua así solo la crea la naturaleza
          a.btn.btn--cta(href="#"): span Descúbrela
          include assets/vector/decoration-waves.svg
