extends html/templates/default

block vars
  - const htmlClasses = ''
  - const bodyClasses = ''
  - const hasSecondaryNav = false

block main

  .container
  
    section.mod.dev-dummy-hero.light.minimal

    .dev-banner
      .base .mod
      .base .mod--map

    section.mod.mod--map
      ul.pagination
        li: span.prev: i.ri-arrow-left-s-line
        li: span.next: i.ri-arrow-right-s-line
      .select-wrap
        select
        span.placeholder
        i.ri-arrow-down-s-line
      ul.item-wrap
        .main.tt
        .clone
      ul.slider.drag-to-scroll
        li.item(data-id="madrid")
          .wrap
            h3.title Madrid
            p
              | Estamos presentes en España, si quieres saber más contacta con nosotros. Algo más de texto 
              | para ver diferencia de altura.
            a(href="#").btn.btn--link: span Contacta
        each val in [...Array(30).keys()]
          li.item(data-id=`label-${val}`)
            .wrap
              h3.title Sede nº #{val}
              p Estamos presentes en Emiratos Árabes, si quieres saber más contacta con nosotros.
              a(href="#").btn.btn--link: span Contacta
      .map-wrap
        .map-wrap-inner
          img(src="assets/vector/map.svg")
          span(data-id=`madrid` data-coords="47,52")
          each val in [...Array(30).keys()]
            span(data-id=`label-${val}` data-coords=`${100 * Math.random()},${100 * Math.random()}`)
