extends html/templates/default

block vars
  - const htmlClasses = ''
  - const bodyClasses = ''
  - const hasSecondaryNav = false

block main

  .container
  
    section.mod.dev-dummy-hero.light.minimal

    .dev-banner
      .base .mod
      .base .mod--cards-slider

    section.mod.mod--cards-slider
      ul.pagination
        li: span.prev: i.ri-arrow-left-s-line
        li: span.next: i.ri-arrow-right-s-line
      .main-wrap
        .mod-header
          p.pretitle Mundo Solán
          h2.title Tu blog de bienestar y salud
          p Nuestra agua de manantial nace en un enclave privilegiado rodeado de bosques, visitado por reyes y elogiado desde hace siglos por sus bondades y propiedades.
          a.btn.btn--link(href="#"): span Descúbrela
          ul.pagination
            li: span.prev: i.ri-arrow-left-s-line
            li: span.next: i.ri-arrow-right-s-line
        ul.card-container
          li.card
            a(href="#").img-wrap
              img(src="assets/img/blog-thumbnail.jpg" data-focus="50% 20%")
            .text-wrap
              a(href="#").pretitle Golf
              h3.title: a(href="#") Imagen reencuadrada.
              p En smartphone aparece otro encuadre de la foto gracias al atributo data-focus.
              a.btn.btn--link(href="#"): span Saber más
          each i in [1, 2, 3, 4]
            li.card
              a(href="#").img-wrap
                img(src="assets/img/blog-thumbnail.jpg")
              .text-wrap
                a(href="#").pretitle Golf
                h3.title: a(href="#") Entrada destacada.
                p Nuestra agua de manantial nace en un enclave privilegiado rodeado de bosques, visitado por reyes y elogiado desde hace siglos por sus bondades y propiedades.
                a.btn.btn--link(href="#"): span Saber más
      .img-wrap
        img(src="assets/img/text-image-background.jpg")


    .dev-banner
      .base .mod
      .base .mod--cards-slider
      .modifier .mod--no-picture

    section.mod.mod--cards-slider.mod--no-picture
      ul.pagination
        li: span.prev: i.ri-arrow-left-s-line
        li: span.next: i.ri-arrow-right-s-line
      .main-wrap
        .mod-header
          p.pretitle Mundo Solán
          h2.title Tu blog de bienestar y salud
          p Nuestra agua de manantial nace en un enclave privilegiado rodeado de bosques, visitado por reyes y elogiado desde hace siglos por sus bondades y propiedades.
          a.btn.btn--link(href="#"): span Descúbrela
          ul.pagination
            li: span.prev: i.ri-arrow-left-s-line
            li: span.next: i.ri-arrow-right-s-line
        ul.card-container
          li.card
            a(href="#").img-wrap
              img(src="assets/img/blog-thumbnail.jpg" data-focus="50% 20%")
            .text-wrap
              a(href="#").pretitle Golf
              h3.title: a(href="#") Imagen reencuadrada.
              p En smartphone aparece otro encuadre de la foto gracias al atributo data-focus.
              a.btn.btn--link(href="#"): span Saber más
          each i in [1, 2, 3, 4]
            li.card
              a(href="#").img-wrap
                img(src="assets/img/blog-thumbnail.jpg")
              .text-wrap
                a(href="#").pretitle Golf
                h3.title: a(href="#") Entrada destacada.
                p Nuestra agua de manantial nace en un enclave privilegiado rodeado de bosques, visitado por reyes y elogiado desde hace siglos por sus bondades y propiedades.
                a.btn.btn--link(href="#"): span Saber más