extends html/templates/default

block vars
  - const htmlClasses = ''
  - const bodyClasses = ''
  - const hasSecondaryNav = false

block main

  .container
  
    section.mod.dev-dummy-hero.light.minimal

    .dev-banner
      .base .mod
      .base .mod--cards-vertical
      .modifier .mod--grid
      .modifier .mod--boxed

    section.mod.mod--cards-vertical.mod--grid.mod--boxed
      .mod-header
        p.pretitle Sostenibilidad
        h2.title Nuestro compromiso con la sociedad y con la naturaleza
        p Nuestra agua de manantial nace en un enclave privilegiado rodeado de bosques, visitado por reyes y elogiado desde hace siglos por sus bondades y propiedades.
        a.btn.btn--link(href="#"): span Descubre todas nuestras acciones
      ul.card-container
        each i in [1, 2, 3, 4]
          li.card
            .img-wrap
              img(src="assets/img/card.jpg")
            .text-wrap
              h3.title Colaboración con WWF
              p Entrada destacada.
              a.btn.btn--cta(href="#"): span Saber más

    .dev-banner
      .base .mod
      .base .mod--cards-vertical
      .modifier .mod--grid

    section.mod.mod--cards-vertical.mod--grid
      .mod-header
        p.pretitle Sostenibilidad
        h2.title Nuestro compromiso con la sociedad y con la naturaleza
        p Nuestra agua de manantial nace en un enclave privilegiado rodeado de bosques, visitado por reyes y elogiado desde hace siglos por sus bondades y propiedades.
        a.btn.btn--link(href="#"): span Descubre todas nuestras acciones
      ul.card-container
        each i in [1, 2, 3, 4]
          li.card
            .img-wrap
              img(src="assets/img/card.jpg")
            .text-wrap
              h3.title Colaboración con WWF
              p Entrada destacada.
              a.btn.btn--cta(href="#"): span Saber más

    .dev-banner
      .base .mod
      .base .mod--cards-vertical
      .modifier .mod--grid
      .modifier .mod--three-col

    section.mod.mod--cards-vertical.mod--grid.mod--three-col
      ul.card-container
        each i in [1, 2, 3, 4, 5, 6]
          li.card
            .img-wrap
              img(src="assets/img/card.jpg")
            .text-wrap
              h3.title Colaboración con WWF
              p Entrada destacada.
              a.btn.btn--cta(href="#"): span Saber más              