extends html/templates/default

block vars
  - const htmlClasses = ''
  - const bodyClasses = ''
  - const hasSecondaryNav = false

block main

  .container
  
    section.mod.dev-dummy-hero.light.minimal

    .dev-banner
      .base .mod
      .base .mod--nav-category

    section.mod.mod--nav-category
      .mod-header
        h2.title Productos
      .pills-wrap
        ul.pills.pills--nowrap.pills--solid.drag-to-scroll
          li: a(href="#") Agua con gas
          li: a(href="#") Agua mineral
          li: a(href="#") Aguas funcionales
          li: a(href="#") Agua con sabor
          li: a(href="#") Dispensador
          li: a(href="#") Ediciones especiales
          li: a(href="#") Ítem extra
          li: a(href="#") Ítem extra
          li: a(href="#") Ítem extra
          li: a(href="#") Ítem extra
          li: a(href="#") Ítem extra
          li: a(href="#") Ítem extra      
