extends html/templates/default

block vars
  - const htmlClasses = ''
  - const bodyClasses = ''
  - const hasSecondaryNav = false

block main

  .container
  
    section.mod.dev-dummy-hero.light.minimal

    .dev-banner
      .base .mod
      .base .mod--nav-subsection

    section.mod.mod--nav-subsection
      .mod-header
        h2.title Descubre más sobre Solán
        ul.pagination
          li: span.prev: i.ri-arrow-left-s-line
          li: span.next: i.ri-arrow-right-s-line
      ul.slider.drag-to-scroll
        each i in [...Array(10).keys()]
          li.item
            a(href="#")
              .img-wrap
                img(src="assets/img/nav-subsection.jpg")
              .text-wrap
                h3.title Agua mineral natural
                span.btn.btn--link(href="#") span Descúbrela