extends html/templates/default

block vars
  - const htmlClasses = ''
  - const bodyClasses = ''
  - const hasSecondaryNav = false

block main

  .container
  
    section.mod.dev-dummy-hero.light.minimal

    .dev-banner
      .base .mod
      .base .mod--grid
      .modifier
        span .grid-wrap
        | [data-xl-cols="5"]
      .modifier
        span .grid-wrap
        | [data-lg-cols="3"]
      .modifier
        span .grid-wrap
        | [data-cols="2"]

    section.mod.mod--grid
      .mod-header
        p.pretitle Formatos
        h2.title El formato que mejor se adapta a cada momento.
      .grid-wrap(data-xl-cols="5" data-lg-cols="3" data-cols="2")
        .item
          h3.title Limón o lima
          p Un toque cítrico es el acompañante perfecto.
          include assets/vector/decoration-waves-grid.svg
        .item
          h3.title Sin SVG
          p Un toque cítrico es el acompañante perfecto.
        a(href="#").item
          h3.title Este es enlace
          p Un toque cítrico es el acompañante perfecto.
          include assets/vector/decoration-waves-grid.svg
        .item.align-center
          h3.title Centrado vertical
          include assets/vector/decoration-waves-grid.svg
        .item.with-image.align-center
          img(src="assets/img/nav-subsection.jpg")
          h3.title Con imagen
          include assets/vector/decoration-waves-grid.svg

    .dev-banner
      .base .mod
      .base .mod--grid
      .modifier
        span .grid-wrap
        | [data-md-cols="3"]
      .modifier
        span .grid-wrap
        | [data-cols="1"]

    section.mod.mod--grid
      .mod-header
        p.pretitle Nota de cata
      .grid-wrap(data-md-cols="3" data-cols="1")
        .item
          h3.title Crujiente
          p Refrescante en boca con una burbuja crujiente y bien integrada.
          include assets/vector/decoration-waves-grid.svg
        .item
          h3.title Refrescante
          p Una burbuja fina, impoluta y brillante con un elegante final en boca.
          include assets/vector/decoration-waves-grid.svg
        .item
          h3.title Inesperada
          p Un agua con gas equilibrada, llena de frescura y elegancia.
          include assets/vector/decoration-waves-grid.svg
        .item(data-col="1/4" data-sm-col="auto")
          h3.title Cata:
          p MªJosé Huertas Sumiller NH – Terraza Casino de Madrid

    .dev-banner
      .base .mod
      .base .mod--grid
      .modifier
        span .grid-wrap
        | [data-cols]

    section.mod.mod--grid
      .mod-header
        h2.title Grids contiguos
      .grid-wrap(data-xl-cols="5" data-lg-cols="3" data-cols="2")
        .item
          h3.title Limón o lima
          p Un toque cítrico es el acompañante perfecto.
          include assets/vector/decoration-waves-grid.svg
        .item
          h3.title Sin SVG
          p Un toque cítrico es el acompañante perfecto.
        a(href="#").item
          h3.title Este es enlace
          p Un toque cítrico es el acompañante perfecto.
          include assets/vector/decoration-waves-grid.svg
        .item
          img.icon(src="assets/img/grid-icon.png")
          h3.title Con icono
          p Un toque cítrico es el acompañante perfecto.
          include assets/vector/decoration-waves-grid.svg
        .item
          h3.title Limón o lima
          p Un toque cítrica es el acompañante perfecto.
          include assets/vector/decoration-waves-grid.svg
      .grid-wrap(data-lg-cols="3" data-cols="2")
        .item
          h3.title Limón o lima
          p Un toque cítrico es el acompañante perfecto.
          include assets/vector/decoration-waves-grid.svg
        .item
          h3.title Sin SVG
          p Un toque cítrico es el acompañante perfecto.
        a(href="#").item
          h3.title Este es enlace
          p Un toque cítrico es el acompañante perfecto.
          include assets/vector/decoration-waves-grid.svg

    .dev-banner
      .base .mod
      .base .mod--grid
      .modifier [data-theme="orange"]
      .modifier
        span .grid-wrap
        | [data-cols]
      .modifier
        span .item
        | [data-theme]

    section.mod.mod--grid(data-theme="orange")
      .mod-header
        p.pretitle A nivel de módulo o de item
        h2.title Theming
      .grid-wrap(data-xl-cols="5" data-lg-cols="3" data-cols="2")
        .item
          h3.title Orange
          p Heredado del módulo
          include assets/vector/decoration-waves-grid.svg
        .item(data-theme="mineral")
          h3.title Mineral
          p Sin SVG
        a(href="#").item(data-theme="yellow")
          h3.title Yellow
          p Un toque cítrico es el acompañante perfecto.
          include assets/vector/decoration-waves-grid.svg
        .item(data-theme="grapefruit")
          h3.title Grapefruit
          p Un toque cítrico es el acompañante perfecto.
          include assets/vector/decoration-waves-grid.svg
        .item(data-theme="pomegranate")
          h3.title Pomegranate
          p Un toque cítrica es el acompañante perfecto.
          include assets/vector/decoration-waves-grid.svg
        .item(data-theme="mineral")
          h3.title Mineral
          p Un toque cítrico es el acompañante perfecto.
          include assets/vector/decoration-waves-grid.svg
        .item(data-theme="#ff0000")
          h3.title #ff0000
          p Un toque cítrico es el acompañante perfecto.
          include assets/vector/decoration-waves-grid.svg
        a(href="#").item(data-theme="#00ff00")
          h3.title #00ff00
          p Un toque cítrico es el acompañante perfecto.
          include assets/vector/decoration-waves-grid.svg          