extends html/templates/default

block vars
  - const htmlClasses = ''
  - const bodyClasses = ''
  - const hasSecondaryNav = false

block main

  .container
  
    section.mod.dev-dummy-hero.light.minimal

    .dev-banner
      .base .mod
      .base .mod--cards-horizontal
      .modifier
        span img
        | [data-focus]

    section.mod.mod--cards-horizontal
      .mod-header
        p.pretitle Mundo Solán
        h2.title Tu blog de bienestar y salud
        p Nuestra agua de manantial nace en un enclave privilegiado rodeado de bosques, visitado por reyes y elogiado desde hace siglos por sus bondades y propiedades.
        a.btn.btn--link(href="#"): span Descúbrela
      ul.card-container
        li.card
          a(href="#").img-wrap
            img(src="assets/img/blog-thumbnail.jpg" data-focus="50% 20%")
          .text-wrap
            a(href="#").pretitle Golf
            h3.title: a(href="#") Imagen reencuadrada.
            p En smartphone aparece otro encuadre de la foto gracias al atributo data-focus.
            a.btn.btn--link(href="#"): span Leer
        each i in [1, 2, 3, 4]
          li.card
            a(href="#").img-wrap
              img(src="assets/img/blog-thumbnail.jpg")
            .text-wrap
              a(href="#").pretitle Golf
              h3.title: a(href="#") Entrada destacada.
              p Nuestra agua de manantial nace en un enclave privilegiado rodeado de bosques, visitado por reyes y elogiado desde hace siglos por sus bondades y propiedades.
              a.btn.btn--link(href="#"): span Leer
      .pagination-wrap
        ul.page-numbers
          li: a.prev.page-numbers(href="#")
            i.ri-arrow-left-s-line
          li: a.page-numbers(href="#") 1
          li: a.page-numbers(href="#") 2
          li: span.page-numbers.current(aria-current="page") 3
          li: a.page-numbers(href="#") 4
          li: span.page-numbers.dots …
          li: a.page-numbers(href="#") 21
          li: a.next.page-numbers(href="#")
            i.ri-arrow-right-s-line

    .dev-banner
      .base .mod
      .base .mod--cards-horizontal
      .modifier .mod--two-col

    section.mod.mod--cards-horizontal.mod--two-col
      ul.card-container
        each i in [1, 2, 3, 4]
          li.card
            a(href="#").img-wrap
              img(src="assets/img/blog-thumbnail.jpg")
            .text-wrap
              a(href="#").pretitle Golf
              h3.title: a(href="#") Entrada destacada.
              p Nuestra agua de manantial nace en un enclave privilegiado rodeado de bosques, visitado por reyes y elogiado desde hace siglos por sus bondades y propiedades.
              a.btn.btn--link(href="#"): span Leer