extends html/templates/default

block vars
  - const htmlClasses = ''
  - const bodyClasses = ''
  - const hasSecondaryNav = false

block main

  .container
  
    section.mod.dev-dummy-hero.light.minimal

    .dev-banner
      .base .mod

    section.mod
      .text-editor
        .text-editor-container

          p Presentamos #[a(href="#") #EscudosContraelCáncer], una iniciativa solidaria para los más pequeños junto a La Fundación Real Madrid y la AECC. Si tienes hijos entre 6 y 14 años, pueden ayudarnos a contribuir en mejorar la calidad de vida de niños con cáncer. Para participar solo tienes que:

          ol
            li Pedirle a los niños que dibujen su versión del escudo del Real Madrid.
            li Sacar una foto al diseño y subirlo al apartado “Stories” de tu cuenta de Instagram, mencionando a @solandecabras con el hashtag #EscudosContraElCáncer.

          ul
            li Ejemplo de &lt;ul&gt;
            li Sacar una foto al diseño y subirlo al apartado “Stories” de tu cuenta de Instagram, mencionando a @solandecabras con el hashtag #EscudosContraElCáncer.

          p: a(href="#") Ver bases legales

          h2 Ejemplo de subepígrafe (&lt;h2&gt;)

          blockquote
            | Fiel a nuestro compromiso con la sociedad y apoyo a los pacientes de cáncer, desde Solán de Cabras, hemos puesto en marcha una nueva iniciativa, de la mano de La Fundación Real Madrid y la Asociación Española Contra el Cáncer, con el objetivo de favorecer la calidad de vida de los niños que luchan contra esta enfermedad.
            cite
              p.author Jesús Núñez
              p.position Director General de la Unidad de Negocio de Aguas de Mahou San Miguel 

          img(src="assets/img/image-full.jpg")

          blockquote
            | Desde el Real Madrid Club de Futbol queremos agradecer a nuestro partner Solán de Cabras por abanderar esta bonita acción. Y para embarcarnos en este tipo de acciones, no hay mejor compañero que nuestra Fundación Real Madrid. Este proyecto nos permitirá incrementar las acciones que desarrollamos enfocadas a dar apoyo al bienestar emocional de los niños enfermos de cáncer. En esta ocasión, contamos además con la Asociación Española Contra el Cáncer, a la que le agradecemos su presencia y su apoyo a este proyecto.
            cite
              p.author Emilio Butragueño
              p.position Director de Relaciones Institucionales del Real Madrid

          p Solán de Cabras contribuirá con la Asociación Española Contra el Cáncer en favor del bienestar emocional de los niños con cáncer y a La Fundación Real Madrid, a través de la actividad física de los pacientes.

          blockquote
            | El cáncer es una enfermedad que provoca gran dolor, incertidumbre y miedo. El tratamiento suele ser un proceso agresivo que conlleva momentos difíciles para toda la familia por lo que desde la Asociación Española Contra el Cáncer desarrollamos acciones orientadas a cubrir las necesidades tanto de pacientes como familiares.
            cite
              p.author Ana González
              p.position Responsable del Área de Psicooncología de la Asociación Española Contra El Cáncer 

          p A través de esta y otras iniciativas, la marca continúa, desde hace siete años, colaborando en diferentes acciones en la lucha contra el cáncer.

          p *Nota: El concurso estará activo desde el 15 de febrero hasta el 15 de marzo

          p: a(href="#") #ESCUDOSCONTRAELCÁNCER
          
          p: a(href="#") @SOLANDECABRAS

          .video-embed(data-youtube-id="_MbQst_G1bI")
            img(src="assets/img/image-full.jpg")
            .iframe-placeholder

      .text-editor-container 
        .share-wrap
          span Compártelo
          ul
            li: a(target="_blank" href="https://twitter.com/share?url=https://solandecabras.es/&text=Título del post") Compártelo en Twitter
              i.ri-twitter-line
            li: a(target="_blank" href="https://www.facebook.com/sharer.php?u=https://solandecabras.es/") Compártelo en Facebook
              i.ri-facebook-box-line
            li: a(target="_blank" href="mailto:?subject=Quiero%20compartir%20contigo%20la%20web%20de%20Solán%20de%20Cabras;body=Accede%20a%20este%20link:%20https://solandecabras.es/") Compártelo por mail
              i.ri-mail-line
