extends html/templates/default

block vars
  - const htmlClasses = ''
  - const bodyClasses = ''
  - const hasSecondaryNav = false

block main

  .container
  
    section.mod.dev-dummy-hero.light.minimal

    .dev-banner
      .base .mod
      .base .mod--text-scrolling
      .base [data-text]
      .modifier .mod--large

    section.mod.mod--text-scrolling.mod--large(data-text="[Burbuja] crujiente.")
      include assets/vector/decoration-waves-box-line.svg

    .dev-banner
      .base .mod
      .base .mod--text-scrolling
      .base [data-text]
      .modifier .mod--large
      .modifier .mod--one-liner

    section.mod.mod--text-scrolling.mod--large.mod--one-liner(data-text="[misión] · ")
      include assets/vector/decoration-waves-box-line.svg

    .dev-banner
      .base .mod
      .base .mod--text-scrolling
      .base [data-text]

    section.mod.mod--text-scrolling(data-text="[Descubre Solán de Cabras con gas] y pídela como más te guste.")
      include assets/vector/decoration-waves-box-line.svg

    .dev-banner
      .base .mod
      .base .mod--text-scrolling
      .base [data-text]
      .modifier .mod--one-liner

    section.mod.mod--text-scrolling.mod--one-liner(data-text="[nuestra misión] · ")
      include assets/vector/decoration-waves-box-line.svg

    .dev-banner
      .base .mod
      .base .mod--text-scrolling
      .base [data-text]
      .modifier .mod--large
      .modifier .mod--boxed

    section.mod.mod--text-scrolling.mod--large.mod--boxed(data-text="[Día,] noche.")
      include assets/vector/decoration-waves-box-solid.svg

    .dev-banner
      .base .mod
      .base .mod--text-scrolling
      .base [data-text]
      .modifier .mod--large
      .modifier .mod--boxed
      .modifier .mod--one-liner

    section.mod.mod--text-scrolling.mod--large.mod--boxed.mod--one-liner(data-text="[Día, noche.]")
      include assets/vector/decoration-waves-box-solid.svg

    .dev-banner
      .base .mod
      .base .mod--text-scrolling
      .base [data-text]
      .modifier .mod--boxed

    section.mod.mod--text-scrolling.mod--boxed(data-text="[Un pequeño crujido en tu interior] te lleva a los lugares más inesperados.")
      include assets/vector/decoration-waves-box-solid.svg

    .dev-banner
      .base .mod
      .base .mod--text-scrolling
      .base [data-text]
      .modifier .mod--boxed
      .modifier .mod--boxed-image

    section.mod.mod--text-scrolling.mod--boxed.mod--one-liner(data-text="[Un pequeño crujido en tu interior.]")
      include assets/vector/decoration-waves-box-solid.svg

    .dev-banner
      .base .mod
      .base .mod--text-scrolling
      .base [data-text]
      .modifier .mod--boxed

    section.mod.mod--text-scrolling.mod--large.mod--boxed.mod--boxed-image(data-text="[Día,] noche.")
      img(src="assets/img/text-image-background.jpg")
      include assets/vector/decoration-waves-box-line.svg

    .dev-banner
      .base .mod
      .base .mod--text-scrolling
      .base [data-text]
      .modifier .mod--boxed
      .modifier .mod--boxed-image
      .modifier .mod--one-liner

    section.mod.mod--text-scrolling.mod--large.mod--boxed.mod--boxed-image.mod--one-liner(data-text="[Día, noche.]")
      img(src="assets/img/text-image-background.jpg")
      include assets/vector/decoration-waves-box-line.svg

    .dev-banner
      .base .mod
      .base .mod--text-scrolling
      .base [data-text]
      .modifier .mod--boxed
      .modifier .mod--boxed-image

    section.mod.mod--text-scrolling.mod--boxed.mod--boxed-image(data-text="[Un pequeño crujido en tu interior] te lleva a los lugares más inesperados.")
      img(src="assets/img/text-image-background.jpg")
      include assets/vector/decoration-waves-box-line.svg

    .dev-banner
      .base .mod
      .base .mod--text-scrolling
      .base [data-text]
      .modifier .mod--boxed
      .modifier .mod--boxed-image
      .modifier .mod--one-liner

    section.mod.mod--text-scrolling.mod--boxed.mod--boxed-image.mod--one-liner(data-text="[Un pequeño crujido en tu interior.]")
      img(src="assets/img/text-image-background.jpg")
      include assets/vector/decoration-waves-box-line.svg

    .dev-banner
      .base .mod
      .base .mod--text-scrolling
      .base [data-text]
      .modifier .mod--large
      .modifier .mod--semiboxed

    section.mod.mod--text-scrolling.mod--large.mod--semiboxed(data-text="[La Serranía] de Cuenca.")
      img(src="assets/img/text-image-background.jpg")
      include assets/vector/decoration-waves-box-line.svg

    .dev-banner
      .base .mod
      .base .mod--text-scrolling
      .base [data-text]
      .modifier .mod--semiboxed

    section.mod.mod--text-scrolling.mod--semiboxed(data-text="[La Serranía] de Cuenca.")
      img(src="assets/img/text-image-background.jpg")
      include assets/vector/decoration-waves-box-line.svg

    .dev-banner
      .base .mod
      .base .mod--text-scrolling
      .base [data-text]
      .modifier .mod--large
      .modifier .mod--semiboxed
      .modifier .mod--veiled

    section.mod.mod--text-scrolling.mod--large.mod--semiboxed.mod--veiled(data-text="[La Serranía] de Cuenca.")
      img(src="assets/img/text-image-background.jpg")
      include assets/vector/decoration-waves-box-line.svg

    .dev-banner
      .base .mod
      .base .mod--text-scrolling
      .base [data-text]
      .modifier .mod--semiboxed
      .modifier .mod--veiled

    section.mod.mod--text-scrolling.mod--semiboxed.mod--veiled(data-text="[La Serranía] de Cuenca.")
      img(src="assets/img/text-image-background.jpg")
      include assets/vector/decoration-waves-box-line.svg

    .dev-banner
      .base .mod
      .base .mod--text-scrolling
      .base [data-text]
      .modifier .mod--large
      .modifier .mod--semiboxed
      .modifier .mod--veiled
      .modifier .mod--veiled-gradient

    section.mod.mod--text-scrolling.mod--large.mod--semiboxed.mod--veiled.mod--veiled-gradient(data-text="[La Serranía] de Cuenca.")
      img(src="assets/img/text-image-background.jpg")
      include assets/vector/decoration-waves-box-line.svg

    .dev-banner
      .base .mod
      .base .mod--text-scrolling
      .base [data-text]
      .modifier .mod--semiboxed
      .modifier .mod--veiled
      .modifier .mod--veiled-gradient

    section.mod.mod--text-scrolling.mod--semiboxed.mod--veiled.mod--veiled-gradient(data-text="[La Serranía] de Cuenca.")
      img(src="assets/img/text-image-background.jpg")
      include assets/vector/decoration-waves-box-line.svg
