@import url('https://fonts.googleapis.com/css2?family=Roboto+Mono@500&display=swap');

#dev-grid {
  position: absolute;
  z-index: 9999999;
  top: 0;
  left: 0;
  bottom: 0;
  width: 100%;
  pointer-events: none !important;
  background: repeating-linear-gradient(to bottom,
      rgba(red, .05),
      rgba(red, .05) 8px,
      transparent 8px,
      transparent 16px);

  @media (min-width: 1680px) {
    .container--wide {
      outline: 1px solid rgba(red, .1);
    }
  }

  .container,
  .row,
  [class*="col"],
  .inner {
    height: 100%;
  }

  .inner {
    background: rgba(red, .05);
  }

  @include responsive(md-) {
    .c4 {
      display: none !important;
    }
  }

  @include responsive(-sm) {
    .c12 {
      display: none !important;
    }
  }
}

body.dev-home #main {
  line-height: 1.5em;
  padding-top: 200px;

  h1 {
    font-size: 36px;
    margin-bottom: 1em;

    &:not(:first-child) {
      margin-top: 2em;
    }
  }
}

.dev-dummy-hero {
  margin: 0 calc(-1 * var(--grid-diff));
  height: 100vh;

  &.short {
    height: 50vh;
  }

  &.minimal {
    height: var(--header-height);
  }

  &.light {
    background: rgba($color-blue-dark, .05);
  }

  &.dark {
    background: rgba($color-blue-dark, .9);
  }
}

.dev-banner {
  margin: 150px calc(-1 * var(--grid-diff)) 50px;
  padding: 16px var(--grid-diff);
  background: rgba($color-blue, .05);
  display: flex;
  flex-wrap: wrap;
  font-family: 'Roboto Mono';
  font-size: 14px;
  font-weight: 500;
  line-height: 24px;

  &.after {
    margin-top: 50px;
    margin-bottom: 150px;
  }

  & > * {
    border-radius: 999px;
    padding: 0 12px;
    margin: 4px;
    display: inline-flex;
    align-items: center;

    span {
      opacity: .5;
      font-size: 10px;
      vertical-align: middle;
      margin-right: 4px;
      position: relative;
      top: -.1em;
    }
  }

  .base {
    background: $color-blue;
    color: $color-white;
  }

  .modifier {
    background: $color-yellow;
    color: $color-black;
  }
}